<!-- INCLUDE overall_header.html -->
<link rel="stylesheet" href="/styles/proakira/theme/sladmin.css?v=0.2.0" type="text/css" />

<div class="sladmin">
	<h2>SL Admin</h2>
	<h3>Opciones</h3>
	<ul class="menu">
		<li><a href="/sladmin/aldeas">Aldeas</a></li>
		<li><a href="/sladmin/niveles">Niveles de Personaje</a></li>
		<li><a href="/sladmin/ramas">Ramas de técnicas</a></li>
		<li><a href="/sladmin/tecnicas">Técnicas</a></li>
		<li><a href="/sladmin/arquetipos">Arquetipos</a></li>
		<li><a href="/sladmin/habilidades">Habilidades</a></li>
		<li><a href="/sladmin/tiendas">Tiendas de Items</a></li>
		<li><a href="/sladmin/items">Items</a></li>
		<li><a href="/sladmin/invocaciones">Invocaciones</a></li>
	</ul>
</div>

<!-- INCLUDE overall_footer.html -->
