<!-- IF PJ_NOMBRE -->
<div class="character">
	<div class="content">
		<div class="avatar-container">
			<div class="avatar">{CURRENT_USER_AVATAR}</div>
		</div>
		<div class="datos-container">
			<div class="progreso">
				<div class="nombre">{PJ_NOMBRE}</div>
				<div class="clan">{PJ_CLAN}</div>
				<!-- IF PJ_ARQUETIPO --><div class="arquetipo">{PJ_ARQUETIPO}</div><!-- ENDIF -->
				<div class="nivel"><!-- IF PJ_RANGO -->{PJ_RANGO}<!-- ELSE -->Estudiante<!-- ENDIF --> &bull; Nivel {PJ_NIVEL}</div>
				<div class="exp-container">
					<div class="exp-legend">{PJ_EXPERIENCIA} / {PJ_EXPERIENCIA_SIG}</div>
					<div class="exp-bar" style="width:{PJ_EXPERIENCIA_PORC}%"></div>
				</div>
				<div class="fecharol"><b>Fecha on-rol: </b>{S_GAME_DATE}</div>
			</div>
			<div class="stats">
				<h3>Estad&iacute;sticas</h3>
				<ul class="atributos">
					<li>Fuerza: {PJ_FUE}</li>
					<li>Agilidad: {PJ_AGI}</li>
					<li>Vitalidad: {PJ_VIT}</li>
					<li>Concentraci&oacute;n: {PJ_CON}</li>
					<li>Control de Chakra: {PJ_CCK}</li>
					<li>Voluntad: {PJ_VOL}</li>
					<br class="clear" />
				</ul>
				<ul class="estadisticas">
					<li class="pv">{PJ_PV_TOT}</li>
					<li class="pc">{PJ_PC_TOT}</li>
					<li class="sta">{PJ_STA_TOT}</li>
					<br class="clear" />
				</ul>
			</div>
		</div>
		<a href="{FICHA_URL}" class="character-btn">
			<!-- IF PJ_ATTR_DISP > 0 -->Mejorar Personaje <i class="icon fa-arrow-circle-up fa-fw"></i>
			<!-- ELSE -->Ver Ficha de Personaje<!-- ENDIF -->
		</a>
	</div>
</div>
<!-- ELSE -->
<div class="no-character">
	<a href="{FICHA_CREAR}" class="character-btn">Crear Personaje</a>
	<a href="/reglas-y-guias-f4/01-primeros-pasos-t135" style="margin-right: 5px;" class="character-btn">¿Cómo empezar?</a>
	<div class="mensaje">Aún no tienes personaje. ¿Qué tal si creas uno?</div>
</div>
<!-- ENDIF -->