<!-- INCLUDE overall_header.html -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style>
.menu {
  padding-left: 5%;
  margin-bottom: 5%;
}
</style>
<ul class="nav nav-tabs tab-pane" id="myForm">
    <li class="nav-item menu active"><a href="#info">Información</a></li>
    <li class="nav-item menu"><a href="#tecnicas">Ramas</a></li>
    <li class="nav-item menu"><a href="#atributos">Atributos</a></li>
    <li class="nav-item menu"><a href="#personaje">Descripciones</a></li>
    <li class="nav-item menu"><a href="#finalizar">Moderaciones</a></li>
    <!-- IF PUEDE_BORRAR == true --><li class="nav-item menu"><a href="#borrar">Borrar Personaje</a></li><!-- ENDIF -->
</ul>
<div class="col-xs-12" style="height:25px;"></div>
<form name="crear_ficha" action="{U_ACTION}" method="POST" onsubmit="return checkFicha();">
    <div class="tab-content">
      <div class="tab-pane active" id="info">

        <label class=" control-label" for="nombre">Nombre de Personaje:</label> {FICHA_NOMBRE}<br>

        <label class=" control-label" for="edad">Edad</label> {FICHA_EDAD}<br>

        <label class=" control-label" for="rango">Rango</label> {FICHA_RANGO}<br>

        <label class=" control-label" for="selectAldea">Aldea</label> {FICHA_ALDEA}<br>

         <label class=" control-label" for="pelo">Altura</label> {FICHA_ALTURA}<br>

         <label class=" control-label" for="pelo">Peso</label> {FICHA_PESO}<br>

      </div>
      <div class="tab-pane" id="tecnicas">

        <dl class="codebox"><dt><a href="javascript:void(0);" onclick="var el = this.parentNode.parentNode.getElementsByTagName('dd')[0]; var v = el.style.display != 'none'; el.style.display = v ? 'none' : 'block'; this.innerHTML = (v ? '[+]' : '[−]') + ' {FICHA_CLAN}'; ">[+] {FICHA_CLAN}</a></dt><dd style="display: none;">{TECNICAS_CLAN}</dd></dl>
  			<dl class="codebox"><dt><a href="javascript:void(0);" onclick="var el = this.parentNode.parentNode.getElementsByTagName('dd')[0]; var v = el.style.display != 'none'; el.style.display = v ? 'none' : 'block'; this.innerHTML = (v ? '[+]' : '[−]') + ' {FICHA_RAMA1}'; ">[+] {FICHA_RAMA1}</a></dt><dd style="display: none;">{TECNICAS_RAMA1}</dd></dl>
  			<dl class="codebox"><dt><a href="javascript:void(0);" onclick="var el = this.parentNode.parentNode.getElementsByTagName('dd')[0]; var v = el.style.display != 'none'; el.style.display = v ? 'none' : 'block'; this.innerHTML = (v ? '[+]' : '[−]') + ' {FICHA_RAMA3}'; ">[+] {FICHA_RAMA3}</a></dt><dd style="display: none;">{TECNICAS_RAMA3}</dd></dl>
  			<dl class="codebox"><dt><a href="javascript:void(0);" onclick="var el = this.parentNode.parentNode.getElementsByTagName('dd')[0]; var v = el.style.display != 'none'; el.style.display = v ? 'none' : 'block'; this.innerHTML = (v ? '[+]' : '[−]') + ' {FICHA_RAMA2}'; ">[+] {FICHA_RAMA2}</a></dt><dd style="display: none;">{TECNICAS_RAMA2}</dd></dl>
  			<dl class="codebox"><dt><a href="javascript:void(0);" onclick="var el = this.parentNode.parentNode.getElementsByTagName('dd')[0]; var v = el.style.display != 'none'; el.style.display = v ? 'none' : 'block'; this.innerHTML = (v ? '[+]' : '[−]') + ' {FICHA_RAMA4}'; ">[+] {FICHA_RAMA4}</a></dt><dd style="display: none;">{TECNICAS_RAMA4}</dd></dl>

      </div>
      <div class="tab-pane" id="atributos">

        <label class="col control-label" for="atrFuerza">Fuerza</label> {FICHA_FUERZA}<br>

        <label class="col control-label" for="atrRes">Vitalidad</label> {FICHA_RES}<br>

        <label class="col control-label" for="artAg">Agilidad</label> {FICHA_AGI}<br>

        <label class="col control-label" for="atrEsp">Control de Chakra</label> {FICHA_ESP}<br>

        <label class="col control-label" for="atrCon">Concentración</label> {FICHA_CON}<br>

        <label class="col control-label" for="atrVol">Voluntad</label> {FICHA_VOL}<br>

      </div>
      <div class="tab-pane" id="personaje">

        <label for="descFis">Descripción Física</label>
        <p>
    		 	{FICHA_FISICO}
    		</p>

        <label for="descPsic">Descripción Psicológica</label>
        <p>
    		 {FICHA_PSICOLOGICO}
    	 	</p>

        <label for="descHis">Historia</label>
        <p>
   			 {FICHA_HISTORIA}
   		 </p>
      </div>
      <div class="tab-pane" id="finalizar">
        <div class="form-group">
      		<!-- IF PUEDE_SUBIR == true --><a href="#" class="btn btn-success">Subir de nivel</a><!-- ENDIF -->
      	</div>
      	<div class="form-group">
      		<!-- IF PUEDE_MODERAR == true --><a href="{FICHA_MODERACIONES}" class="btn btn-success">Moderar Personaje</a><!-- ENDIF -->
      	</div>
      	<div class="form-group" >
      		<div class="">
      			<label for="razon">Historial moderaciones:</label></br>
      			<p>
      				<!-- BEGIN loopname -->
      				{loopname.RAZON_MODERACION} {loopname.USER_MODERACION} {loopname.FECHA_MODERACION}</br>
      				<!-- END loopname -->
      			</p>
      		</div>
      	</div>
      </div>
      <div class="tab-pane" id="borrar">
        <form class="" action="{U_ACTION}" method="POST">
      		<!-- IF PUEDE_BORRAR == true --><button type="submit" class="btn btn-warning" name="submit" id="submit">Borrar Personaje</button><!-- ENDIF -->
      	</form>
      </div>
    </div>
  </form>

  <script type="text/javascript">
  $('#myForm a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })
</script>
<!-- INCLUDE overall_footer.html -->
