<!-- INCLUDE overall_header.html -->
<div class="panel">
  <div class="content">
    <h2>Datos personales</h2>
    <p><strong>Nombre:</strong> {FICHA_NOMBRE}</p>
    <p><strong>Rama Principal:</strong> {FICHA_CLAN}</p>
    <p><strong>Nivel:</strong> {NIVEL}</p>
    <p><strong>Rango:</strong> {FICHA_RANGO}</p>
    <p><strong>Arquetipo:</strong>{VISTA_ARQUETIPO}</p>
    <p><strong>Segunda Rama:</strong> {FICHA_RAMA1}</p>
    <p><strong>Tercera Rama:</strong> {FICHA_RAMA3}</p>
    <p><strong>Cuarta Rama:</strong> {FICHA_RAMA2}</p>
    <p><strong>Quinta Rama:</strong> {FICHA_RAMA4}</p>
    <p><strong>Sexta Rama:</strong> {FICHA_RAMA5}</p>

    <h2>Descripciones</h2>
    <p style="text-align:justify"><strong>Descripción física:</strong><br /> {FICHA_FISICO}</p><br>
    <p style="text-align:justify"><strong>Descripción psicológica:</strong><br /> {FICHA_PSICOLOGICO}</p><br>
    <p style="text-align:justify"><strong>Historia:</strong><br />{FICHA_HISTORIA}</p>

    <h2>Atributos</h2>
    <p><strong>Fuerza:</strong> {FICHA_FUERZA}</p>
    <p><strong>Agilidad:</strong> {FICHA_AGI}</p>
    <p><strong>Vitalidad:</strong> {FICHA_VIT}</p>
    <p><strong>Concentración:</strong> {FICHA_CON}</p>
    <p><strong>Control del chakra:</strong> {FICHA_CCK}</p>
    <p><strong>Voluntad:</strong> {FICHA_VOL}</p>
    <h2>Estadísticas</h2>
    <p><strong>Puntos de vida:</strong> <pv>{FICHA_PV}</pv></p>
    <p><strong>Puntos de chakra:</strong> <pc>{FICHA_PC}</pc></p>
    <p><strong>Puntos de stamina:</strong> <sta>{FICHA_STA}</sta></p>
    <h2>Técnicas ninja</h2>
    {FICHA_JUTSUS}

    <h2>Moderaciones</h2>
    <!-- IF PUEDE_MODERAR == true --><a href="{FICHA_MODERACIONES}" class="btn btn-success">Moderar Personaje</a><!-- ENDIF -->
      <!-- BEGIN loopname -->
      {loopname.RAZON_MODERACION} {loopname.USER_MODERACION} {loopname.FECHA_MODERACION}</br>
      <!-- END loopname -->

    <h2>Borrar Personaje</h2>
    <form class="" action="{U_ACTION}" method="POST">
      <!-- IF PUEDE_BORRAR == true --><button type="submit" class="btn btn-warning" name="submit" id="submit">Borrar Personaje</button><!-- ENDIF -->
    </form>
  </div>
</div>

<!-- INCLUDE overall_footer.html -->
