<!-- INCLUDE overall_header.html -->


<form name="crear_ficha" action="{U_ACTION}" method="POST" onsubmit="return checkFicha();">
<div class="panel">
  <h2>Crear ficha de personaje</h2>
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<p class="error">{ERRORES}</p>
		<h2>Datos personales</h2>
		<fieldset>
		<dl>
			<dt><label for="nombre">Nombre del personaje:</label><br /><span>Nombres sin números y de ambientación japonesa...</span></dt>
			<dd><input type="text" class="inputbox" name="nombre" id="nombre" size="40" maxlength="255" required="required" placeholder="Nombre del personaje" onblur="checkText(this, 5);" /></dd>
		</dl>
    <dl>
      <dt><label for="edad">Edad:</label><br /><span>Coloca aquí tu edad.</span></dt>
      <dd><input type="number" class="inputbox numberfield" name="edad" id="edad" size="10" min="10" max="18" placeholder="La edad de tu personaje"  /></dd>
    </dl>
		<dl>
			<dt><label for="principal">Rama Principal:</label><br /><span>Coloca aquí tu rama principal.</span></dt>
			<dd><input type="text" class="inputbox" name="principal" id="principal" size="40" maxlength="80" placeholder="Rama principal del personaje"  /></dd>
		</dl>
		<dl>
      <dt><label for="principal">Segunda Rama:</label><br /><span>Coloca aquí tu segunda rama.</span></dt>
      <dd><input type="text" class="inputbox" name="rama1" id="rama1" size="40" maxlength="80" placeholder="Rama de personaje" /></dd>
		</dl>
    <dl>
      <dt><label for="principal">Tercera Rama:</label><br /><span>Coloca aquí tu tercera rama.</span></dt>
      <dd><input type="text" class="inputbox" name="rama2" id="rama2" size="40" maxlength="80" placeholder="Rama de personaje" /></dd>
		</dl>
    <h2>Atributos</h2>
    <fieldset>
      <dl>
        <dt>Te quedan <b><span id="puntos">{PUNTOS}</span></b> puntos por repartir.<br /></dt>
      </dl>
      <dl>
        <dt><label for="fuerza">Fuerza:</label></dt>
        <dd><input type="number" class="inputbox numberfield" name="atrFuerza" id="atrFuerza" size="10" value="1" required="required" onblur="checkAtributos(this); calcStats(); " /></dd>
      </dl>
      <dl>
        <dt><label for="agilidad">Agilidad:</label></dt>
        <dd><input type="number" class="inputbox numberfield" name="artAg" id="artAg" size="10" value="1" required="required" onblur="checkAtributos(this); calcStats(); " /></dd>
      </dl>
      <dl>
        <dt><label for="vitalidad">Vitalidad:</label></dt>
        <dd><input type="number" class="inputbox numberfield" name="atrVit" id="atrVit" size="10" value="1" required="required" onblur="checkAtributos(this); calcStats(); " /></dd>
      </dl>
      <dl>
        <dt><label for="concentracion">Concentracion:</label></dt>
        <dd><input type="number" class="inputbox numberfield" name="atrCon" id="atrCon" size="10" value="1" required="required" onblur="checkAtributos(this); calcStats(); " /></dd>
      </dl>
      <dl>
        <dt><label for="cck">Control del chakra:</label></dt>
        <dd><input type="number" class="inputbox numberfield" name="atrCCK" id="atrCCK" size="10" value="1" required="required" onblur="checkAtributos(this); calcStats(); " /></dd>
      </dl>
      <dl>
        <dt><label for="voluntad">Voluntad:</label></dt>
        <dd><input type="number" class="inputbox numberfield" name="atrVol" id="atrVol" size="10" value="1" required="required" onblur="checkAtributos(this); calcStats(); " /></dd>
      </dl>
    </fieldset>

    <h2>Estadísticas</h2>
    <fieldset>
      <dl>
        <dt><label for="vida">Puntos de vida:</label></dt>
        <dd><input type="number" class="inputbox numberfield" name="vida" id="vida" size="10" disabled="disabled" /></dd>
      </dl>
      <dl>
        <dt><label for="chakra">Puntos de chakra:</label></dt>
        <dd><input type="number" class="inputbox numberfield" name="chakra" id="chakra" size="10" disabled="disabled" /></dd>
      </dl>
      <dl>
        <dt><label for="stamina">Puntos de stamina:</label></dt>
        <dd><input type="number" class="inputbox numberfield" name="stamina" id="stamina" size="10" disabled="disabled" /></dd>
      </dl>
    </fieldset>

    <h2>Descripciones</h2>
    <dl>
			<dt><label for="descFis">Descripción física:</label><br /><span>Describe como es físicamente tu personaje.</span></dt>
			<dd><textarea class="inputbox" name="descFis" id="descFis" placeholder="Descripción física" required="required" onfocus="this.style.height='200px';" onblur="this.style.height='60px'; checkText(this, 200);"></textarea></dd>
		</dl>

		<dl>
			<dt><label for="descPsic">Descripción psicológica:</label><br /><span>Describe como es el carácter de tu personaje.</span></dt>
			<dd><textarea class="inputbox" name="descPsic" id="descPsic" placeholder="Descripción psicológica" required="required" onfocus="this.style.height='200px';" onblur="this.style.height='60px'; checkText(this, 200);"></textarea></dd>
		</dl>

		<dl>
			<dt><label for="descHis">Historia:</label><br /><span>La historia de tu personaje.</span></dt>
			<dd><textarea class="inputbox" name="descHis" id="descHis" placeholder="La historia de tu personaje" required="required" onfocus="this.style.height='300px';" onblur="this.style.height='60px'; checkText(this, 200);"></textarea></dd>
		</dl>

		<br /><br />
		<fieldset class="submit-buttons">
			{S_HIDDEN_FIELDS}<input type="reset" value="Limpiar" name="reset" class="button2" />&nbsp;
			<input type="submit" name="submit" value="Crear personaje" id="submit" class="button1" />
		</fieldset>
		<span class="corners-bottom"><span></span></span></div>
	</div>
</div>
</form>

<script type="text/javascript">
function checkText(elem, num) {
	if (elem.value.length < num) {
		alert('Este campo debe tener más de ' + num + ' caracteres.');
		return false;
	}
	return true;
}

function calcStats() {
	var fue = document.getElementById('atrFuerza').value;
	var con = document.getElementById('atrVit').value;
	var intel = document.getElementById('atrCon').value;
	var cck = document.getElementById('atrCCK').value;
	var agi = document.getElementById('artAg').value;
	var vol = document.getElementById('atrVol').value;
	var pv = document.getElementById('vida');
	var pc = document.getElementById('chakra');
	var sta = document.getElementById('stamina');
	var puntos = document.getElementById('puntos');
	var success = true;

	usados = parseInt(fue) + parseInt(con) + parseInt(intel) + parseInt(cck) + parseInt(agi)  + parseInt(vol);
	if (usados > 50) {
		alert('¡No puedes repartir más de 50 puntos!');
		success = false;
	} else {
		pv.value = 10 + (3*parseInt(con));
		pc.value = parseInt(cck) + parseInt(intel) + parseInt(vol);
		sta.value = parseInt(con) + parseInt(agi) + parseInt(fue) + parseInt(vol);
	}

	puntos.innerHTML = 50 - usados;

	return success;
}

function checkAtributos(atr) {
  var fue = document.getElementById('atrFuerza').value;
  var con = document.getElementById('atrVit').value;
  var intel = document.getElementById('atrCon').value;
  var cck = document.getElementById('atrCCK').value;
  var agi = document.getElementById('artAg').value;
  var vol = document.getElementById('atrVol').value;

  var points = [fue, con, intel, cck, agi, vol];

  points.sort(function(a, b){return a-b});

  var attr_min = parseFloat(points[5]*0.25);
  var dif = points[5] - attr_min;

  if (dif < 9) {
  	attr_min = points[5] - 9;
  }

  if (attr_min < 1) {
  	attr_min = 1;
  }

  if (points[0] < attr_min) {
  	alert('La puntuación maxima no debe superar al atributo menor en mas de un 75%.');
    if (attr_min < 9 ) {
      attr_min = parseInt(points[0]) + 9;
    }
  	atr.value = attr_min;
  	return false;
  }

	if (parseInt(atr.value) < 1) {
		alert('La puntuación mínima en atributos es 1.');
		return false;
	}
	return true;
}

function checkFicha() {
	var nombre = document.getElementById('nombre');
	var descFis = document.getElementById('descFis');
	var descPsic = document.getElementById('descPsic');
	var fue = document.getElementById('atrFuerza');
	var con = document.getElementById('atrVit');
	var intel = document.getElementById('atrCon');
	var cck = document.getElementById('atrCCK');
	var agi = document.getElementById('artAg');
	var vol = document.getElementById('atrVol');

	return checkAtributos(fue) && checkAtributos(con) && checkAtributos(intel) && checkAtributos(cck) && checkAtributos(agi) && checkAtributos(vol) && calcStats() && checkText(nombre, 5) && checkText(descFis, 200) && checkText(descPsic, 200);
}
</script>

<!-- INCLUDE overall_footer.html -->
