<!-- INCLUDE overall_header.html -->
<div class="panel">
  <div class="content">
    <h2>Datos personales</h2>
    <dd><strong>Nombre:</strong> {FICHA_NOMBRE}</dd>
    <dd><strong>Rama Principal:</strong> {FICHA_CLAN}</dd>
    <dd><strong>Nivel:</strong> {NIVEL}</dd>
    <dd><strong>Rango:</strong> {FICHA_RANGO}</dd>
    <dd><strong>Arquetipo:</strong> {FICHA_ARQUETIPO}</dd>
    <dd><strong>Segunda Rama:</strong> {FICHA_RAMA1}</dd>
    <dd><strong>Tercera Rama:</strong> {FICHA_RAMA2}</dd>
    <dd><strong>Cuarta Rama:</strong> {FICHA_RAMA3}</dd>
    <dd><strong>Quinta Rama:</strong> {FICHA_RAMA4}</dd>
    <dd><strong>Sexta Rama:</strong> {FICHA_RAMA5}</dd>

    <h2>Descripciones</h2>
    <dd style="text-align:justify"><strong>Descripción física:</strong><br /> {FICHA_FISICO}</dd><br>
    <dd style="text-align:justify"><strong>Descripción psicológica:</strong><br /> {FICHA_PSICOLOGICO}</dd><br>
    <dd style="text-align:justify"><strong>Historia:</strong><br />{FICHA_HISTORIA}</dd>

    <h2>Atributos</h2>
    <dd><strong>Fuerza:</strong> {FICHA_FUERZA}</dd>
    <dd><strong>Agilidad:</strong> {FICHA_AGI}</dd>
    <dd><strong>Vitalidad:</strong> {FICHA_VIT}</dd>
    <dd><strong>Concentración:</strong> {FICHA_CON}</dd>
    <dd><strong>Control del chakra:</strong> {FICHA_CCK}</dd>
    <dd><strong>Voluntad:</strong> {FICHA_VOL}</dd>
    <h2>Estadísticas</h2>
    <dd><strong>Puntos de vida:</strong> <pv>{FICHA_PV}</pv></dd>
    <dd><strong>Puntos de chakra:</strong> <pc>{FICHA_PC}</pc></dd>
    <dd><strong>Puntos de stamina:</strong> <sta>{FICHA_STA}</sta></dd>
    <h2>Técnicas ninja</h2>
    {FICHA_JUTSUS}

    <h2>Moderaciones</h2>
    <!-- IF PUEDE_MODERAR == true --><a href="{FICHA_MODERACIONES}" class="btn btn-success">Moderar Personaje</a><!-- ENDIF -->
      <!-- BEGIN loopname -->
      {loopname.RAZON_MODERACION} {loopname.USER_MODERACION} {loopname.FECHA_MODERACION}</br>
      <!-- END loopname -->

    <h2>Borrar Personaje</h2>
    <form class="" action="{U_ACTION}" method="POST">
      <!-- IF PUEDE_BORRAR == true --><button type="submit" class="btn btn-warning" name="submit" id="submit">Borrar Personaje</button><!-- ENDIF -->
    </form>
  </div>
</div>

<!-- INCLUDE overall_footer.html -->
