<li class="row pais principal <!-- IF forumrow.S_UNREAD_FORUM -->unread<!-- ELSE -->read<!-- ENDIF -->">
	<a href="{forumrow.U_VIEWFORUM}" class="fondo">
		<div class="imagen" style="background-image: url({forumrow.FORUM_IMAGE_SRC})">
			<div class="nombre">{forumrow.FORUM_NAME}</div>
		</div>
	</a>
	<div class="info">
		<a href="{forumrow.U_VIEWFORUM}" class="nombre">{forumrow.FORUM_NAME}</a>
		<!-- IF .forumrow.subforum and forumrow.S_LIST_SUBFORUMS -->
			<div class="subforos">
				{forumrow.subforum.SUBFORUM_NAME}
				<!-- EVENT forumlist_body_subforums_before -->
				<!-- BEGIN subforum -->
					<!-- EVENT forumlist_body_subforum_link_prepend --><a href="{forumrow.subforum.U_SUBFORUM}" class="subforum<!-- IF forumrow.subforum.S_UNREAD --> unread<!-- ELSE --> read<!-- ENDIF -->" title="<!-- IF forumrow.subforum.S_UNREAD -->{L_UNREAD_POSTS}<!-- ELSE -->{L_NO_UNREAD_POSTS}<!-- ENDIF -->">
						<i class="icon <!-- IF forumrow.subforum.IS_LINK -->fa-external-link<!-- ELSE -->fa-file-o<!-- ENDIF --> fa-fw <!-- IF forumrow.subforum.S_UNREAD --> icon-red<!-- ELSE --> icon-blue<!-- ENDIF --> icon-md" aria-hidden="true"></i>{forumrow.subforum.SUBFORUM_NAME}</a><!-- IF not forumrow.subforum.S_LAST_ROW -->{L_COMMA_SEPARATOR}<!-- ENDIF --><!-- EVENT forumlist_body_subforum_link_append -->
				<!-- END subforum -->
				<!-- EVENT forumlist_body_subforums_after -->
			</div>
		<!-- ENDIF -->
		<a href="{forumrow.U_VIEWFORUM}" class="descripcion">{forumrow.FORUM_DESC}</a>
		<div class="divisor vertical"></div>
		<ul class="estadisticas">
			<li class="topics">{forumrow.TOPICS}</li>
			<li class="posts">{forumrow.POSTS}</li>
			<li class="lastpost">
				<!-- IF forumrow.LAST_POST_TIME -->
					<!-- IF forumrow.S_DISPLAY_SUBJECT -->
						<!-- EVENT forumlist_body_last_post_title_prepend -->
						<a href="{forumrow.U_LAST_POST}" title="{forumrow.LAST_POST_SUBJECT}" class="lastsubject">{forumrow.LAST_POST_SUBJECT_TRUNCATED}</a><br />
					<!-- ENDIF -->
						<span>{L_POST_BY_AUTHOR} {forumrow.LAST_POSTER_FULL}</span><br />
						<span>{forumrow.LAST_POST_TIME}</span>
					<!-- IF not S_IS_BOT -->
						<a href="{forumrow.U_LAST_POST}" title="{L_VIEW_LATEST_POST}">
							<i class="icon fa-external-link-square fa-fw icon-black icon-md" aria-hidden="true"></i>
						</a>
					<!-- ENDIF -->
				<!-- ELSE -->
					{L_NO_POSTS}
				<!-- ENDIF -->
			</li>
		</ul>
	</div>
</li>