<li class="row general <!-- IF forumrow.S_UNREAD_FORUM -->unread<!-- ELSE -->read<!-- ENDIF -->" id="forum{forumrow.FORUM_ID}">
	<a href="{forumrow.U_VIEWFORUM}" class="fondo">
		<div class="imagen" style="background-image: url({forumrow.FORUM_IMAGE_SRC})"></div>
		<div class="nombre">{forumrow.FORUM_NAME}</div>
	</a>
	<div class="info">
		<a href="{forumrow.U_VIEWFORUM}" class="descripcion">{forumrow.FORUM_DESC}</a>
		<ul class="estadisticas">
			<li class="topics">{forumrow.TOPICS}</li>
			<li class="posts">{forumrow.POSTS}</li>
			<li class="lastpost">
				<!-- IF forumrow.LAST_POST_TIME -->
					<!-- IF forumrow.S_DISPLAY_SUBJECT -->
						<!-- EVENT forumlist_body_last_post_title_prepend -->
						<a href="{forumrow.U_LAST_POST}" title="{forumrow.LAST_POST_SUBJECT} - {forumrow.LAST_POST_TIME}" class="lastsubject">{forumrow.LAST_POST_SUBJECT_TRUNCATED}</a>
					<!-- ENDIF -->
						<span>{L_POST_BY_AUTHOR} {forumrow.LAST_POSTER_FULL}</span>
					<!-- IF not S_IS_BOT -->
						<a href="{forumrow.U_LAST_POST}" title="{L_VIEW_LATEST_POST}">
							<i class="icon fa-external-link-square fa-fw icon-black icon-md" aria-hidden="true"></i>
						</a>
					<!-- ENDIF -->
				<!-- ELSE -->
					{L_NO_POSTS}
				<!-- ENDIF -->
			</li>
		</ul>
	</div>
</li>