<!-- INCLUDE overall_header.html -->

<h2 class="topic-title">Tienda de {SHOP_NAME}</h2>
<div class="label-ryos">Tienes <b>{RYOS}</b> Ryōs.</div>

<div class="forabg">
	<table class="item-table table1" border="0" cellpadding="0" cellspacing="0" align="center">
		<thead>
			<tr class="item-header">
				<th class="name">Nombre</th>
				<th class="name">Imagen</th>
				<th class="name">Tipos</th>
				<th class="name">Descripci&oacute;n</th>
				<th class="name">Requisitos</th>
				<th class="name">Precio</th>
				<th class="name">M&aacute;ximo</th>
				<th class="name">Comprar</th>
			</tr>
		</thead>
		<tbody>
	<!-- BEGIN items -->
	<tr id="item{items.ID}">
		<td class="item-name">{items.ITEM_NAME}</td>
		<td class="item-img">{items.IMAGEN}</td>
		<td class="item-tags">
		<!-- BEGIN items.tipos --><span class="item-tipo">{items.tipos.TAG}</span><!-- END items.tipos -->
		</td>
		<td class="item-desc">{items.DESC}<br /><b>Efectos: </b>{items.EFECTOS}</td>
		<td class="item-reqs">{items.REQS}</td>
		<td class="item-precio">{items.PRECIO} ryōs</td>
		<td class="item-max">{items.MAX}</td>
		<td class="item-buy"><!-- IF items.COMPRABLE --><form name="buyitem" action="{items.U_BUY}" method="POST">
			<center><input type="number" min="1" class="inputbox" maxlength="4" name="quantity" value="1" />
				<br />
			<input type="submit" name="submit" value="Comprar" class="button1" /></center>
		</form><!-- ENDIF --></td>
	</tr>
	<!-- BEGINELSE -->
	<td colspan="8">No hay items.</td>
	<!-- END items -->
	</tbody>
	</table>
</div>
<!-- INCLUDE overall_footer.html -->
