<!-- INCLUDE overall_header.html -->

<h2 class="topic-title">Tienda de {SHOP_NAME}</h2>
<p>Tienes <b>{RYOS}</b> Ryōs.</p>

<div class="forabg">
	<table class="table1" border="0" cellpadding="0" cellspacing="0" style="width:90%" align="center">
		<thead>
			<tr style="background: #243f38;">
				<th class="name">Nombre</th>
				<th class="name">Imagen</th>
				<th class="name">Tipos</th>
				<th class="name">Descripci&oacute;n</th>
				<th class="name">Requisitos</th>
				<th class="name">Precio</th>
				<th class="name">Max.</th>
				<th class="name">Comprar</th>
			</tr>
		</thead>
		<tbody>
	<!-- BEGIN items -->
	<tr id="item{items.ID}">
		<td class="item-name">{items.ITEM_NAME}</td>
		<td>{items.IMAGEN}</td>
		<td style="width:20%">
		<!-- BEGIN items.tipos --><span class="item-tipo">{items.tipos.TAG}</span><!-- END items.tipos -->
		</td>
		<td class="item-desc">{items.DESC}<br /><b>Efectos: </b>{items.EFECTOS}</td>
		<td>{items.REQS}</td>
		<td>{items.PRECIO}</td>
		<td>{items.MAX}</td>
		<td><form name="buyitem" action="{items.U_BUY}" method="POST">
			<center><input type="number" min="1" class="inputbox" maxlength="4" style="width: 70px" name="quantity" value="1" />
				<br />
			<input style="margin-top: 5px" type="submit" name="submit" value="Comprar" class="button1" /></center>
		</form></td>
	</tr>
	<!-- BEGINELSE -->
	<td>No hay items.</td>
	<!-- END items -->
	</tbody>
	</table>
</div>
<!-- INCLUDE overall_footer.html -->
