<!-- INCLUDE overall_header.html -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<style>
select {
    size: 6;
  }
</style>
<div class="row container-fluid justify-content-center">
<form name="crear_ficha" action="{U_ACTION}" method="POST" onsubmit="return checkFicha();">
      <span class="corners-top"><span></span></span>
    <p class="error">{ERRORES}</p>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="perso-tab" data-toggle="tab" href="#perso" >Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="home-tab" data-toggle="tab" href="#home">Técnicas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile">Atributos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact">Personaje</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="botones-tab" data-toggle="tab" href="#botones">Finalizar</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="col-xs-12" style="height:25px;"></div>
        <div class="tab-pane fade in active" id="perso" >
          <div class="form-group">
           <label class=" control-label" for="nombre">Nombre de Personaje</label>
           <input type='text' class='form-control' id='nombre' name='nombre' onblur="checkText(this, 5);"> </input>
          </div>
          <div class="form-group">
           <label class=" control-label" for="edad">Edad</label>
           <div class="">
               <input type='number' class='form-control' id='edad' name='edad' max="20" min="10" value="10"> </input>
           </div>
          </div>
          <div class="form-group">
           <label class=" control-label" for="rango">Rango</label>
           <div class="">
               <input type='text' class='form-control' id='rango' name='rango' value="Genin" readonly></input>
           </div>
          </div>
          <div class="form-group">
            <div class="">
              <label class=" control-label" for="selectAldea">Aldea</label>
              <select id="selectAldea" name="selectAldea" class="form-control">
                 <option value="Konohagakure no Sato">Konohagakure no Sato</option>
                 <option value="Kirigakure no Sato">Kirigakure no Sato</option>
                 <option value="Getsugakure no Sato">Getsugakure no Sato</option>
                 <option value="Yukigakure no Sato">Yukigakure no Sato</option>
                 <option value="Kusagakure no Sato">Kusagakure no Sato</option>
               </select>
             </div>
          </div>
          <div class="form-group">
           <label class=" control-label" for="selectOjos">Color de ojos</label>
           <div class="">
               <select id="selectOjos" name="selectOjos" class="form-control">
                 <option value="Azules">Azules</option>
                 <option value="Marrones">Marrones</option>
                 <option value="Verdes">Verdes</option>
                 <option value="Ámbar">Ámbar</option>
                 <option value="Violeta">Violeta</option>
                 <option value="Rojos">Rojos</option>
                 <option value="Negros">Negros</option>
               </select>
           </div>
          </div>
          <div class="form-group">
           <label class=" control-label" for="selectPelo">Color de pelo</label>
           <div class="">
               <select id="selectPelo" name="selectPelo" class="form-control">
                 <option value="Castaño">Castaño</option>
                 <option value="Verde">Verde</option>
                 <option value="Negro">Negro</option>
                 <option value="Rubio">Rubio</option>
                 <option value="Rojo">Rojo</option>
                 <option value="Azul">Azul</option>
                 <option value="Morado">Morado</option>
               </select>
           </div>
          </div>
          <div class="form-group">
           <label class=" control-label" for="complexion">Complexion</label>
           <div class="">
               <select id="complexion" name="complexion" class="form-control">
                 <option value="Delgada">Delgada</option>
                 <option value="Mediana">Mediana</option>
                 <option value="Grande">Grande</option>
               </select>
           </div>
          </div>
          <div class="form-group">
           <label class=" control-label" for="pelo">Altura</label>
           <div class="">
               <input type='number' class='form-control' id='altura' name='altura' min="120" max="230" value="150"></input>
           </div>
          </div>
          <div class="form-group">
           <label class=" control-label" for="pelo">Peso</label>
           <div class="">
               <input type='number' class='form-control' id='peso' name='peso' min="40" max="200" value="50"></input>
           </div>
          </div>
        </div>
        <div class="tab-pane fade" id="home">
          <div class="form-group">
           <label class=" control-label" for="clan">Clan / Kekkei Genkai / Arte</label>
           <div class="">
             <select size="6" id="clan" name="clan" data-size="10" class="form-control" onchange="checkClan();">
              <option value="Sin Clan">Sin Clan</option>
              <option value="Clan Kamizuru">Clan Kamizuru</option>
              <option value="Clan Jyugo">Clan Jyugo</option>
              <option value="Clan Nendo">Clan Nendo</option>
              <option value="Clan Orochi">Clan Orochi</option>
              <option value="Clan Uzumaki">Clan Uzumaki</option>
              <option value="Clan Sabaku">Clan Sabaku</option>
              <option value="Clan Aburame">Clan Aburame</option>
              <option value="Clan Senju">Clan Senju</option>
              <option value="Clan Hyuga">Clan Hyuga</option>
              <option value="Clan Kaguya">Clan Kaguya</option>
              <option value="Clan Inuzuka">Clan Inuzuka</option>
              <option value="Clan Yuki">Clan Yuki</option>
              <option value="Clan Yotsuki">Clan Yotsuki</option>
              <option value="Clan Uchiha">Clan Uchiha</option>
              <option value="Clan Yamanaka">Clan Yamanaka</option>
              <option value="Clan Akimichi">Clan Akimichi</option>
              <option value="Clan Hozuki">Clan Hozuki</option>
              <option value="Clan Nara">Clan Nara</option>
              <option value="Arte Gotokuji">Arte Gotokuji</option>
              <option value="Arte Yūrei">Arte Yūrei</option>
              <option value="Arte Tenkasai">Arte Tenkasai</option>
              <option value="Arte Inku">Arte Inku</option>
              <option value="Arte Tessen">Arte Tessen</option>
              <option value="Arte Origami">Arte Origami</option>
              <option value="Kekkei Genkai Shakuton">Kekkei Genkai Shakuton</option>
              <option value="Kekkei Genkai Yōton">Kekkei Genkai Yōton</option>
              <option value="Kekkei Genkai Jiton">Kekkei Genkai Jiton</option>
              <option value="Kekkei Genkai Shōton">Kekkei Genkai Shōton</option>
              <option value="Kekkei Genkai Futton">Kekkei Genkai Futton</option>
              <option value="Kekkei Genkai Ranton">Kekkei Genkai Ranton</option>
            </select>
           </div>
          </div>
          <div class="form-group">
           <label class=" control-label" for="selectElemento">Elemento</label>
           <div class="">
               <select id="selectElemento" name="selectElemento" class="form-control" data-size="5">
                  <option value="Katon (火遁 Elemento Fuego)">Katon (火遁 Elemento Fuego)</option>
                  <option value="Suiton (水遁 Elemento Agua)">Suiton (水遁 Elemento Agua)</option>
                  <option value="Raiton (雷遁 Elemento Rayo)">Raiton (雷遁 Elemento Rayo)</option>
                  <option value="Fuuton (風遁 Elemento Viento)">Fuuton (風遁 Elemento Viento)</option>
                  <option value="Doton (土遁 Elemento Tierra)">Doton (土遁 Elemento Tierra)</option>
               </select>
           </div>
          </div>
          <div class="form-group">
           <label class=" control-label" for="selectEspecialidad">Primera especialidad</label>
           <div class="">
             <select id="selectEspecialidad" name="selectEspecialidad" class="form-control">
                <option value="Genjutsu (幻術 Ilusiones)">Genjutsu (幻術 Ilusiones)</option>
                <option value="Taijutsu (体術 Técnicas de Cuerpo a Cuerpo)">Taijutsu (体術 Técnicas de Cuerpo a Cuerpo)</option>
                <option value="Bukijutsu (武器术 Técnicas de armas)">Bukijutsu (武器术 Técnicas de armas)</option>
                <option value="Fūinjutsu (封印術 Sellado)">Fūinjutsu (封印術 Sellado)</option>
                <option value="Iryō Ninjutsu (医療忍術 Médico)">Iryō Ninjutsu (医療忍術 Médico)</option>
                <option value="Kanchi Taipu (感知タイプ Sensorial)">Kanchi Taipu (感知タイプ Sensorial)</option>
             </select>
           </div>
          </div>
          <div class="form-group">
           <label class=" control-label" for="selectbasic">Segundo elemento</label>
           <div class="">
             <input type='text' class='form-control' id='selectElemento2' name='selectElemento2' readonly value='Segundo elemento disponible en compra con PN'> </input>
           </div>
          </div>
          <div class="form-group">
           <label class=" control-label" for="selectbasic">Segunda especialidad</label>
           <div class="">
             <input type='text' class='form-control' id='selectEspecialidad2' name='selectEspecialidad2' readonly value='Segunda especialidad disponible en compra con PN'> </input>
           </div>
          </div>
          <div class="form-group">
           <label class=" control-label" for="invocacion">Invocacion</label>
           <div class="">
             <input type='text' class='form-control' id='invocacion' name='invocacion' readonly value='Invocación por determinar'> </input>
           </div>
          </div>
        </div>
       <div class="tab-pane fade" id="profile">
    			<dl>
    				<dt>Te quedan <b><span id="puntos">{PUNTOS}</span></b> puntos por repartir.<br /></dt>
    			</dl>
    		<dl>
        <div class="form-group">
          <label class="col control-label" for="atrFuerza">Fuerza</label>
          <input class="col form-control" type="number" name="atrFuerza" id="atrFuerza" min="1" max="10" value="1" onblur="calcStats(); checkAtributos(this);">
        </div>
        <div class="form-group">
            <label class="col control-label" for="atrRes">Resistencia</label>
            <input class="col form-control" type="number" name="atrRes" id="atrRes" min="1" max="10" value="1" onblur="calcStats(); checkAtributos(this);">
          </div>
          <div class="form-group">
            <label class="col control-label" for="artAg">Agilidad</label>
            <input class="col form-control" type="number" name="artAg" id="artAg" min="1" max="10" value="1" onblur="calcStats(); checkAtributos(this);">
          </div>
          <div class="form-group">
            <label class="col control-label" for="atrEsp">Espíritu</label>
            <input class="col form-control" type="number" name="atrEsp" id="atrEsp" min="1" max="10" value="1" onblur="calcStats(); checkAtributos(this);">
          </div>
          <div class="form-group">
            <label class="col control-label" for="atrCon">Concentración</label>
            <input class="col form-control" type="number" name="atrCon" id="atrCon" min="1" max="10" value="1" onblur="calcStats(); checkAtributos(this);">
          </div>
          <div class="form-group">
            <label class="col control-label" for="atrVol">Voluntad</label>
            <input class="col form-control" type="number" name="atrVol" id="atrVol" min="1" max="10" value="1" onblur="calcStats(); checkAtributos(this);">
          </div>
      </div>
      <div class="tab-pane fade" id="contact">
       <div class="form-group">
         <div class="">
           <label for="descFis">Descripción Física</label>
           <textarea class="form-control" id="descFis" name="descFis" rows="5" onblur="checkText(this, 200);"></textarea>
         </div>
       </div>
       <div class="form-group">
         <div class="">
           <label for="descPsic">Descripción Psicológica</label>
           <textarea class="form-control" id="descPsic" name="descPsic" rows="12" onblur="checkText(this, 600);"></textarea>
         </div>
       </div>
       <div class="form-group">
         <div class="">
           <label for="descHis">Historia</label>
           <textarea class="form-control" id="descHis" name="descHis" rows="12" onblur="checkText(this, 800);"></textarea>
         </div>
       </div>
     </div>
     <div class="tab-pane fade" id="botones">
       <div class="form-group">
           <button type="submit" class="btn btn-success" name="submit" id="submit">Guardar Personaje</button>
       </div>
   </div>
</div>
 </form>

<script type="text/javascript">
function checkText(elem, num) {
	if (elem.length < num) {
		alert('Este campo debe tener más de ' + num + ' caracteres.');
		return false;
	}
	return true;
}

function calcStats() {
  var atrFuerza = document.getElementById("atrFuerza").value;
  var atrRes = document.getElementById("atrRes").value;
  var artAg = document.getElementById("artAg").value;
  var atrEsp = document.getElementById("atrEsp").value;
  var atrCon = document.getElementById("atrCon").value;
  var atrVol = document.getElementById("atrVol").value;
	var puntos = document.getElementById('puntos');
	var success = true;

	var usados = parseInt(atrFuerza) + parseInt(atrRes) + parseInt(artAg) + parseInt(atrEsp) + parseInt(atrCon) + parseInt(atrVol);
	if (usados > 30) {
		alert('¡No puedes repartir más de 30 puntos!');
		success = false;
	}

	puntos.innerHTML = 30 - usados;

	return success;
}

function checkAtributos(atr) {
	if (parseInt(atr.value) < 1) {
		alert('La puntuación mínima en atributos es 1.');
    $(atr).empty();
    $(atr).val(1);
		return false;
	}
  if (parseInt(atr.value) > 10) {
		alert('La puntuación maxima en atributos es 10.');
    $(atr).empty();
    $(atr).val(10 );
		return false;
	}
	return true;
}

function vaciarOpciones(){
  $("#invocacion").val("Invocación por determinar");
  $("#selectElemento2").val("Segundo elemento disponible en compra con PN");
  $("#selectEspecialidad2").val("Segunda especialidad disponible en compra con PN");

  var elementos = {"Katon (火遁 Elemento Fuego)": "Katon (火遁 Elemento Fuego)",
  "Suiton (水遁 Elemento Agua)": "Suiton (水遁 Elemento Agua)",
  "Raiton (雷遁 Elemento Rayo)": "Raiton (雷遁 Elemento Rayo)",
  "Fuuton (風遁 Elemento Viento)": "Fuuton (風遁 Elemento Viento)",
  "Doton (土遁 Elemento Tierra)": "Doton (土遁 Elemento Tierra)"
};

  var $el = $("#selectElemento");
  $el.empty(); // remove old options
  $.each(elementos, function(key,value) {
  $el.append($("<option></option>")
     .attr("value", value).text(key));
  });

  var especialidades = {"Genjutsu (幻術 Ilusiones)": "Genjutsu (幻術 Ilusiones)",
  "Taijutsu (体術 Técnicas de Cuerpo a Cuerpo)": "Taijutsu (体術 Técnicas de Cuerpo a Cuerpo)",
  "Bukijutsu (武器术 Técnicas de armas)": "Bukijutsu (武器术 Técnicas de armas)",
  "Fūinjutsu (封印術 Sellado)": "Fūinjutsu (封印術 Sellado)",
  "Iryō Ninjutsu (医療忍術 Médico)": "Iryō Ninjutsu (医療忍術 Médico)",
  "Kanchi Taipu (感知タイプ Sensorial)": "Kanchi Taipu (感知タイプ Sensorial)"
};

  var $el = $("#selectEspecialidad");
  $el.empty(); // remove old options
  $.each(especialidades, function(key,value) {
  $el.append($("<option></option>")
     .attr("value", value).text(key));
  });

  $('.selectpicker').selectpicker('refresh');
}
function checkClan(){

  var clan = document.getElementById("clan").value;

  switch (clan) {
    // $("#clan")
    // $("#selectElemento")
    // $("#selectEspecialidad")
    // $("#selectElemento2")
    // $("#selectEspecialidad2")

    case 'Sin Clan':
      vaciarOpciones();
    break;

    case 'Clan Kamizuru':
      vaciarOpciones();
      $("#invocacion").val("Abejas");
    break;

    case 'Clan Jyugo':
      vaciarOpciones();

      var option = $('<option></option>').attr("value", "Taijutsu (体術, Técnicas de Cuerpo a Cuerpo)").text("Taijutsu (体術, Técnicas de Cuerpo a Cuerpo)");
      $("#selectEspecialidad").empty().append(option);
      $('select[name="selectEspecialidad"]').val(1);
      $('.selectpicker').selectpicker('refresh');
    break;

    case 'Clan Nendo':
      vaciarOpciones();

      var option = $('<option></option>').attr("value", "Doton (土遁 Elemento Tierra)").text("Doton (土遁 Elemento Tierra)");
      $("#selectElemento").empty().append(option);
      $('select[name="selectElemento"]').val(1);
      $('.selectpicker').selectpicker('refresh');
    break;

    case 'Clan Orochi':
      vaciarOpciones();
      $("#invocacion").val("Serpientes");
    break;

    case 'Clan Uzumaki':
      vaciarOpciones();

      var option = $('<option></option>').attr("value", "Fūinjutsu (封印術, Sellado)").text("Fūinjutsu (封印術, Sellado)");
      $("#selectEspecialidad").empty().append(option);
      $('select[name="selectEspecialidad"]').val(1);
      $('.selectpicker').selectpicker('refresh');
    break;

    case 'Clan Sabaku':
      vaciarOpciones();

      var option = $('<option></option>').attr("value", "Doton (土遁 Elemento Tierra)").text("Doton (土遁 Elemento Tierra)");
      $("#selectElemento").empty().append(option);
      $('select[name="selectElemento"]').val(1);
      $('.selectpicker').selectpicker('refresh');
      $("#selectElemento2").val("Fuuton (風遁, Elemento Viento)");
    break;

    case 'Clan Aburame':
      vaciarOpciones();
      $("#invocacion").val("Insectos");
    break;

    case 'Clan Senju':
      vaciarOpciones();

      var option = $('<option></option>').attr("value", "Doton (土遁 Elemento Tierra)").text("Doton (土遁 Elemento Tierra)");
      $("#selectElemento").empty().append(option);
      $('select[name="selectElemento"]').val(1);
      $('.selectpicker').selectpicker('refresh');

      $("#selectElemento2").val("Suiton (水遁, Elemento Agua)");
    break;

    case 'Clan Hyuga':
      vaciarOpciones();

      var option = $('<option></option>').attr("value", "Taijutsu (体術, Técnicas de Cuerpo a Cuerpo)").text("Taijutsu (体術, Técnicas de Cuerpo a Cuerpo)");
      $("#selectEspecialidad").empty().append(option);
      $('select[name="selectEspecialidad"]').val(1);
      $('.selectpicker').selectpicker('refresh');
    break;

    case 'Clan Kaguya':
      vaciarOpciones();

      var especialidades = {
        "Taijutsu (体術 Técnicas de Cuerpo a Cuerpo)": "Taijutsu (体術 Técnicas de Cuerpo a Cuerpo)",
        "Bukijutsu (武器术 Técnicas de armas)": "Bukijutsu (武器术 Técnicas de armas)"
      };

      var $el = $("#selectEspecialidad");
      $el.empty(); // remove old options
      $.each(especialidades, function(key,value) {
      $el.append($("<option></option>")
         .attr("value", value).text(key));
      });

      $('.selectpicker').selectpicker('refresh');
    break;

    case 'Clan Inuzuka':
      vaciarOpciones();

      $("#invocacion").val("Perros");

      var option = $('<option></option>').attr("value", "Taijutsu (体術, Técnicas de Cuerpo a Cuerpo)").text("Taijutsu (体術, Técnicas de Cuerpo a Cuerpo)");
      $("#selectEspecialidad").empty().append(option);
      $('select[name="selectEspecialidad"]').val(1);
      $('.selectpicker').selectpicker('refresh');
    break;

    case 'Clan Yuki':
      var option = $('<option></option>').attr("value", "Suiton (水遁, Elemento Agua)").text("Suiton (水遁, Elemento Agua)");
      $("#selectElemento").empty().append(option);
      $('select[name="selectElemento"]').val(1);
      $('.selectpicker').selectpicker('refresh');
      $("#selectElemento2").val("Fuuton (風遁, Elemento Viento)");
    break;

    case 'Clan Yotsuki':
      vaciarOpciones();

      var option = $('<option></option>').attr("value", "Raiton (雷遁, Elemento Rayo)").text("Raiton (雷遁, Elemento Rayo)");
      $("#selectElemento").empty().append(option);
      $('select[name="selectElemento"]').val(1);

      var option2 = $('<option></option>').attr("value","Taijutsu (体術, Técnicas de Cuerpo a Cuerpo)").text("Taijutsu (体術, Técnicas de Cuerpo a Cuerpo)");
      $("#selectEspecialidad").empty().append(option2);
      $('select[name="selectEspecialidad"]').val(1);
      $('.selectpicker').selectpicker('refresh');
    break;

    case 'Clan Uchiha':
      vaciarOpciones();

      var option = $('<option></option>').attr("value", "Genjutsu (幻術 Ilusiones)").text("Genjutsu (幻術 Ilusiones)");
      $("#selectEspecialidad").empty().append(option);
      $('select[name="selectEspecialidad"]').val(1);
      $('.selectpicker').selectpicker('refresh');

      var option2 = $('<option></option>').attr("value", "Katon (火遁, Elemento Fuego)").text("Katon (火遁, Elemento Fuego)");
      $("#selectElemento").empty().append(option2);
      $('select[name="selectElemento"]').val(1);
      $('.selectpicker').selectpicker('refresh');
    break;

    case 'Clan Yamanaka':
      vaciarOpciones();

      var option = $('<option></option>').attr("value", "Kanchi Taipu (感知タイプ Sensorial)").text("Kanchi Taipu (感知タイプ Sensorial)");
      $("#selectEspecialidad").empty().append(option);
      $('select[name="selectEspecialidad"]').val(1);
      $('.selectpicker').selectpicker('refresh');
    break;

    case 'Clan Akimichi':
      vaciarOpciones();

      var option = $('<option></option>').attr("value", "Taijutsu (体術, Técnicas de Cuerpo a Cuerpo)").text("Taijutsu (体術, Técnicas de Cuerpo a Cuerpo)");
      $("#selectEspecialidad").empty().append(option);
      $('select[name="selectEspecialidad"]').val(1);
      $('.selectpicker').selectpicker('refresh');
    break;

    case 'Clan Hozuki':
      vaciarOpciones();

      var option = $('<option></option>').attr("value", "Suiton (水遁, Elemento Agua)").text("Suiton (水遁, Elemento Agua)");
      $("#selectElemento").empty().append(option);
      $('select[name="selectElemento"]').val(1);
      $('.selectpicker').selectpicker('refresh');
    break;

    case 'Clan Nara':
      vaciarOpciones();
      $("#selectElemento2").val("Ninjutsu General (忍術, Técnicas Ninja)");
    break;

    case 'Arte Gotokuji':
      vaciarOpciones();

      var option = $('<option></option>').attr("value", "Suiton (水遁, Elemento Agua)").text("Suiton (水遁, Elemento Agua)");
      $("#selectElemento").empty().append(option);
      $('select[name="selectElemento"]').val(1);
      $('.selectpicker').selectpicker('refresh');
    break;

    case 'Arte Yūrei':
      vaciarOpciones();

      var option = $('<option></option>').attr("value", "Genjutsu (幻術 Ilusiones)").text("Genjutsu (幻術 Ilusiones)");
      $("#selectEspecialidad").empty().append(option);
      $('select[name="selectEspecialidad"]').val(1);
      $('.selectpicker').selectpicker('refresh');

      $("#selectEspecialidad2").val("Ninjutsu General (忍術, Técnicas Ninja)");

      $("#invocacion").val("Dokis");
    break;

    case 'Arte Tenkasai':
      vaciarOpciones();

      var option = $('<option></option>').attr("value", "Bukijutsu (武器术, Técnicas de armas)").text("Bukijutsu (武器术, Técnicas de armas)");
      $("#selectEspecialidad").empty().append(option);
      $('select[name="selectEspecialidad"]').val(1);
      $('.selectpicker').selectpicker('refresh');

      $("#selectEspecialidad2").val("Fūinjutsu (封印術, Sellado)");
    break;

    case 'Arte Inku':
      vaciarOpciones();

      var option = $('<option></option>').attr("value", "Fūinjutsu (封印術, Sellado)").text("Fūinjutsu (封印術, Sellado)");
      $("#selectEspecialidad").empty().append(option);
      $('select[name="selectEspecialidad"]').val(1);
      $('.selectpicker').selectpicker('refresh');
    break;

    case 'Arte Tessen':
      vaciarOpciones();

      var option = $('<option></option>').attr("value", "Fuuton (風遁, Elemento Viento)").text("Fuuton (風遁, Elemento Viento)");
      $("#selectElemento").empty().append(option);
      $('select[name="selectElemento"]').val(1);
      $('.selectpicker').selectpicker('refresh');

      $("#invocacion").val("Comadrejas");
    break;

    case 'Arte Origami':
      vaciarOpciones();
    break;

    case 'Kekkei Genkai Shakuton':
      vaciarOpciones();

      var option = $('<option></option>').attr("value", "Fuuton (風遁, Elemento Viento)").text("Fuuton (風遁, Elemento Viento)");
      $("#selectElemento").empty().append(option);
      $('select[name="selectElemento"]').val(1);
      $('.selectpicker').selectpicker('refresh');

      $("#selectElemento2").val("Katon (火遁, Elemento Fuego)");
    break;

    case 'Kekkei Genkai Yōton':
      vaciarOpciones();

      var elementos = {
        "Katon (火遁, Elemento Fuego)": "Katon (火遁, Elemento Fuego)",
        "Suiton (水遁, Elemento Agua)": "Suiton (水遁, Elemento Agua)"
      };

      var $el = $("#selectElemento");
      $el.empty(); // remove old options
      $.each(elementos, function(key,value) {
      $el.append($("<option></option>")
         .attr("value", value).text(key));
      });

      $('.selectpicker').selectpicker('refresh');

      $("#selectElemento2").val( "Doton (土遁 Elemento Tierra)");
    break;

    case 'Kekkei Genkai Jiton':
      vaciarOpciones();

      var option = $('<option></option>').attr("value", "Raiton (雷遁, Elemento Rayo)").text("Raiton (雷遁, Elemento Rayo)");
      $("#selectElemento").empty().append(option);
      $('select[name="selectElemento"]').val(1);
      $('.selectpicker').selectpicker('refresh');
    break;

    case 'Kekkei Genkai Shōton':
      vaciarOpciones();

      var option = $('<option></option>').attr("value", "Doton (土遁, Elemento Tierra)").text("Doton (土遁, Elemento Tierra)");
      $("#selectElemento").empty().append(option);
      $('select[name="selectElemento"]').val(1);
      $('.selectpicker').selectpicker('refresh');
    break;

    case 'Kekkei Genkai Futton':

      vaciarOpciones();

      var option = $('<option></option>').attr("value", "Suiton (水遁, Elemento Agua)").text("Suiton (水遁, Elemento Agua)");
      $("#selectElemento").empty().append(option);
      $('select[name="selectElemento"]').val(1);
      $('.selectpicker').selectpicker('refresh');

      $("#selectElemento2").val( "Katon (火遁, Elemento Fuego)");
    break;

    case 'Kekkei Genkai Ranton':
      vaciarOpciones();

      var option = $('<option></option>').attr("value", "Raiton (雷遁, Elemento Rayo)").text("Raiton (雷遁, Elemento Rayo)");
      $("#selectElemento").empty().append(option);
      $('select[name="selectElemento"]').val(1);
      $('.selectpicker').selectpicker('refresh');

      $("#selectElemento2").val("Suiton (水遁, Elemento Agua)");
    break;
  }
}
function checkFicha() {
  var nombre = document.getElementById("nombre").value;
  var edad = document.getElementById("edad").value;
  var rango = document.getElementById("rango").value;
  var selectAldea = document.getElementById("selectAldea").value;
  var ojos = document.getElementById("selectOjos").value;
  var pelo = document.getElementById("selectPelo").value;
  var altura = document.getElementById("altura").value;
  var peso = document.getElementById("peso").value;
  var complexion = document.getElementById("complexion").value;
  var clan = document.getElementById("clan").value;
  var selectElemento = document.getElementById("selectElemento").value;
  var selectEspecialidad = document.getElementById("selectEspecialidad").value;
  var selectElemento2 = document.getElementById("selectElemento2").value;
  var selectEspecialidad2 = document.getElementById("selectEspecialidad2").value;
  var invocacion = document.getElementById("invocacion").value;
  var descFis = document.getElementById("descFis").value;
  var descPsic = document.getElementById("descPsic").value;
  var descHis = document.getElementById("descHis").value;

	return checkAtributos(atrFuerza) && checkAtributos(atrRes) && checkAtributos(artAg) && checkAtributos(atrEsp) && checkAtributos(atrCon) && calcStats() && checkText(nombre, 5) && checkText(descFis, 200) && checkText(descPsic, 600) && checkText(descPsic, 800);
}
</script>

<!-- INCLUDE overall_footer.html -->
