/* TEMPLATE DE JUTSUS
---------------------------------------- */
jutsu {
	display: block; 
	text-align: left;
	border-radius: 5px;
	border: solid 1px #e5ddd5;
	background: #fdf8f4;
	color: #6b6b6b;
	margin: 0 auto;
	padding: 10px;
	max-width: 500px;
	min-width: 258px;
	font-family: Roboto, Verdana, sans-serif;
	font-size: 12px;
	box-shadow: 1px 1px 1px #333;
	cursor: default;
}

jutsu nombre {
	display: block;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;
}

jutsu tipo, jutsu rango {
	display: inline-block;
	color: #fff;
	background: #2d986d;
	font-weight: bold;
	border-radius: 2px;
	border: solid 1px #395d4e;
	font-size: 11px;
	margin-right: 5px;
	padding: 2px;
	line-height: 11px;
}

jutsu rango {
	background: #9e9e9e;
	border-color: #4e4e4e;
}

jutsu tipo[tai] {
	background: #bf8000;
	border-color: #715c31;
}

jutsu tipo[fuin] {
	background: #6d84bf;
	border-color: #374c82;
}

jutsu tipo[gen] {
	background: #a58dc1;
	border-color: #604382;
}

jutsu datos {
	clear: both;
	display: block;
	background: #fff;
	border: solid 1px #e3e3e3;
	padding: 5px;
	margin: 5px 0;
	overflow: hidden;
    height: 15px;
}

jutsu datos::before {
    content: "Información";
    display: block;
    cursor: pointer;
    font-weight: bold;
    border-bottom: solid 1px #e3e3e3;
	padding-bottom: 2px;
	margin-bottom: 2px;
}

jutsu datos ul {
	margin: 0 0 0 3em !important;
}

jutsu desc {
	font-style: italic;
}

jutsu hr {
	border: none;
	border-top: solid 1px #ccbdae;
}

jutsu c {
	display: block;
	font-size: 10px;
}

jutsu c b {
	cursor: pointer;
}

jutsu code {
	margin-left: 5px;
}

/* TEMPLATE DE HABILIDADES
---------------------------------------- */
habilidad {
	display: block; 
	text-align: left;
	border-radius: 5px;
	border: solid 1px #e5ddd5;
	background: #fdf8f4;
	color: #6b6b6b;
	margin: 5px;
	padding: 10px;
	width: 250px;
	font-family: Roboto, Verdana, sans-serif;
	font-size: 12px;
	box-shadow: 1px 1px 1px #333;
	float: left;
	cursor: default;
}

.habilidades form:nth-child(3n+1) habilidad {
    clear: left;
}

habilidad nombre {
	display: block;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

habilidad requisitos ul{
	margin: 0 0 0 3em !important;
}

habilidad requisitos::before {
	content: "Requisitos: ";
	font-weight: bold;
}

habilidad efecto::before {
	content: "Efecto: ";
	font-weight: bold;
}

/* IMAGEN CON SCROLL DE TEXTO
---------------------------------------- */

imgscroll {
    text-align: justify;
    background: #222;
    background-size: cover;
    border: solid 2px #fff;
    box-shadow: 0 0 0 2px #000;
    color: #ddd;
    display: block;
    font-family: Anton, Roboto, Verdana, sans-serif;
    font-size: 12px;
    height: 521px;
    margin: 10px auto;
    position: relative;
    width: 692px;
}

imgscroll watermark {
	background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 50%;
    left: 25%;
    opacity: 0;
    position: absolute;
    top: 25%;
    transition-duration: .2s;
    transition-property: opacity;
    width: 50%;
    z-index: 1;
} 

imgscroll:hover watermark {
	opacity: 1;
}

imgscroll > div {
	background: rgba(0, 0, 0, .6);
    height: calc(100% - 4px);
    left: 2px;
    opacity: 0;
    position: absolute;
    top: 2px;
    transition-delay: .2s;
    transition-duration: .2s;
    transition-property: opacity;
    width: calc(100% - 4px);
    z-index: 2;
}

imgscroll:hover > div {
	opacity: 1;
}

imgscroll titulo {
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 100%;
    width: 20%;
}

imgscroll scroll {
    display: block;
    float: left;
    height: calc(100% - 8px);
    margin: 4px;
    overflow-y: auto;
    width: calc(80% - 8px);
}

imgscroll span{
	display: block;
    padding: 5px;
}

/* BBCODE GENÉRICOS
---------------------------------------- */
.bbcode-recuadro {
    border: solid 1px;
    margin: 5px;
    padding: 10px;
}

.button[class*="bbcode-"] {
	height: 25px;
	font-size: 0;
    letter-spacing: -1px;
	color: transparent;
}

.button[class*="bbcode-"]::before {
	color: #fff !important;
	font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.3;
    font-family: FontAwesome;
    text-rendering: normal;
    letter-spacing: normal;
    padding: 0 2px;
}

.bbcode-left::before {
	content: "\f036";
}

.bbcode-center::before {
	content: "\f037";
}

.bbcode-right::before {
	content: "\f038";
}

.bbcode-justify::before {
	content: "\f039";
}

.bbcode-s::before {
	content: "\f0cc";
}

.bbcode-hr::before {
	content: "\f141";
}

.bbcode-pv::before {
	content: "PV";
	font-family: "Roboto" !important;
}

.bbcode-sta::before {
	content: "STA";
	font-family: "Roboto" !important;
}

.bbcode-pc::before {
	content: "PC";
	font-family: "Roboto" !important;
}