/* Todos los Subforos */
.topiclist li.header dd.topics,
.topiclist li.header dd.posts,
.topiclist li.header dd.lastpost,
.topiclist li.header dd.views {
	font-size: 10px;
	font-family: Roboto, Verdana, sans-serif;
}

/* Subforo General */
#forum3.forabg li.header dd.topics,
#forum3.forabg li.header dd.posts,
#forum3.forabg li.header dd.lastpost {
	display: none;
}

#forum3.forabg ul.topiclist{
	position: relative;
}

li.row.general{
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Verdana, sans-serif;
	float: left;
	width: calc(33.3% - 13px);
	height: 140px;
	margin: 10px 0 0 10px;
	border: none;
	color: #fff;
	overflow: hidden;
	position: relative;
}

li.row.general:last-child{
	margin-bottom: 10px;
}

li.row.general a:hover {
	text-decoration: none !important;
}

li.row.general .fondo{
	display: block;
    width: 100%;
    height: 100%;	
	color: #fff;
}

li.row.general .fondo .imagen{
	background-color: #d8e8e5;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 97px;
}

li.row.general.read .fondo .imagen {
    -webkit-filter: grayscale(25%);
    filter: grayscale(25%);
}

li.row.general .fondo .nombre{
    height: 33px;
    background: #81aca2;
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    padding-top: 10px;
}

li.row.general.unread .fondo .nombre {
	background: #4d7d72;
}

li.row.general .info {
	top: 0;
    width: 100%;
    height: 100%;
    margin-top: 140px;
	position: absolute;
    background-color: rgba(0, 0, 0, .6);
	transition-delay: .5s;
	transition-duration: .2s;
	z-index: 2;
}

li.row.general:hover .info,
li.row.general:focus .info {
	margin-top: 0;
}

li.row.general .info .descripcion {
	display: block;
	padding: 5px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: justify;
    height: 87px;
    overflow-y: auto;
	color: #fff;
}

li.row.general .info .estadisticas {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 43px;
	background-color: rgba(255, 255, 255, .5);
}

li.row.general .info .estadisticas li {
	float: left;
    height: 100%;
	color: #111;
}

li.row.general .info .estadisticas li::before {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
	margin-top: 3px;
}

li.row.general .info .estadisticas li.topics,
li.row.general .info .estadisticas li.posts {
	width: 20%;
	text-align: center;
}

li.row.general .info .estadisticas li.topics::before {
    content: "Temas";
}

li.row.general .info .estadisticas li.posts::before {
    content: "Posts";
}

li.row.general .info .estadisticas li.lastpost {
	width: 60%;
	text-align: center;
	font-size: 1.2em;
	margin-top: 3px;
}

@media (max-width: 900px) {
	li.row.general {
		height: 135px;
	}
	
	li.row.general .fondo .nombre {
		font-size: 1.4em;
		height: 28px;
	}
	
	li.row.general .info .estadisticas {
		height: 38px;
	}
	
	li.row.general .info .descripcion {
		font-size: 1.2em;
	}
}

@media (max-width: 700px) {
	li.row.general {
		width: 33.3%;
		margin: 0;
	}
	
	li.row.general .info .descripcion {
		font-size: 1em;
	}
	
	li.row.general .info .estadisticas li.lastpost,
	li.row.general .info .estadisticas li::before {
		font-size: 1.1em;
	}
}

@media (max-width: 500px) {
	li.row.general {
		height: 130px;
	}
	
	li.row.general .fondo .nombre {
		font-size: 1em;
		height: 23px;
	}
	
	li.row.general .info .descripcion {
		font-size: .9em;
		font-weight: normal;
	}
	
	li.row.general .info .estadisticas {
		height: 33px;
	}
	
	li.row.general .info .estadisticas li.topics,
	li.row.general .info .estadisticas li.posts {
		display: none;
	}
	
	li.row.general .info .estadisticas li.lastpost {
		width: 100%;
		font-size: .9em;
	}
}

/* Subforo Países Principales */
#forum15.forabg li.header dd.topics,
#forum15.forabg li.header dd.posts,
#forum15.forabg li.header dd.lastpost {
	display: none;
}

/* Subforo Países Neutrales */
#forum20.forabg li.header dd.topics,
#forum20.forabg li.header dd.posts,
#forum20.forabg li.header dd.lastpost {
	display: none;
}

/* Marca No Leído */
li.row.general.unread::after,
li.row.pais.unread::after {
    background-image: url(./images/nuevo.png);
    background-size: cover;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
	z-index: 1;
}

li.row.general.unread::after {
    bottom: 5px;
    right: 5px;
}

li.row.pais.unread::after {
    top: 5px;
    left: 5px;
}

@media (max-width: 900px) {	
	li.row.general.unread::after,
	li.row.pais.unread::after {
		width: 20px;
		height: 20px;
	}
}

/* MOD Collapsible Categories */
.collapse-btn {
	background-color: transparent !important;
	border-color: #fff !important;
	margin: -25px 10px 0 0 !important;
}

.collapse-btn:after, .collapse-btn:before {
	background-color: transparent !important;
	border-color: #fff !important;	
}

.collapse-btn:hover, .collapse-btn:hover:after, .collapse-btn:hover:before {
	background-color: rgba(255, 255, 255, 0.1) !important;
}
