/* Todos los Subforos */
.topiclist li.header dd.topics,
.topiclist li.header dd.posts,
.topiclist li.header dd.lastpost,
.topiclist li.header dd.views {
	font-size: 10px;
	font-family: Roboto, Verdana, sans-serif;
}

.forabg i.expandir-cat {
    color: #fff;
    position: absolute;
    right: 35px;
    top: 8px;
    cursor: pointer;
    font-size: 16px;
}

.responsive-center.time {
	display: none;
}

/* Subforo General */
.forabg li.header dd.topics,
.forabg li.header dd.posts,
.forabg li.header dd.lastpost {
	display: none;
}

.forabg ul.topiclist{
	position: relative;
}

li.row.general{
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Verdana, sans-serif;
	float: left;
	width: calc(33.3% - 13px);
	height: 140px;
	margin: 10px 0 0 10px;
	border: none;
	color: #fff;
	overflow: hidden;
	position: relative;
}

li.row.general:last-child{
	margin-bottom: 10px;
}

li.row.general a:hover {
	text-decoration: none !important;
}

li.row.general .fondo{
	display: block;
    width: 100%;
    height: 100%;	
	color: #fff;
}

li.row.general .fondo .imagen{
	background-color: #d8e8e5;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 97px;
}

li.row.general.read .fondo .imagen {
    -webkit-filter: grayscale(25%);
    filter: grayscale(25%);
}

li.row.general .fondo .nombre{
    height: 33px;
    background: #81aca2;
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    padding-top: 10px;
}

li.row.general.unread .fondo .nombre {
	background: #4d7d72;
}

li.row.general .info {
	top: 0;
    width: 100%;
    height: 100%;
    margin-top: 140px;
	position: absolute;
    background-color: rgba(0, 0, 0, .6);
	transition-duration: .2s;
	z-index: 2;
}

li.row.general:hover .info,
li.row.general:focus .info,
li.row.general.expandir .info {
	margin-top: 0;
}

li.row.general .info .descripcion {
	display: block;
	padding: 5px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: justify;
    height: 87px;
    overflow-y: auto;
	color: #fff;
}

li.row.general .info .estadisticas {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 43px;
	background-color: rgba(255, 255, 255, .5);
}

li.row.general .info .estadisticas li {
	float: left;
    height: 100%;
	color: #111;
}

li.row.general .info .estadisticas li::before {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
	margin-top: 3px;
}

li.row.general .info .estadisticas li.topics,
li.row.general .info .estadisticas li.posts {
	width: 20%;
	text-align: center;
}

li.row.general .info .estadisticas li.topics::before {
    content: "Temas";
}

li.row.general .info .estadisticas li.posts::before {
    content: "Posts";
}

li.row.general .info .estadisticas li.lastpost {
	width: 60%;
	text-align: center;
	font-size: 1.2em;
	margin-top: 3px;
}

@media (max-width: 900px) {
	li.row.general {
		height: 135px;
	}
	
	li.row.general .fondo .nombre {
		font-size: 1.4em;
		height: 28px;
	}
	
	li.row.general .info .estadisticas {
		height: 38px;
	}
	
	li.row.general .info .descripcion {
		font-size: 1.2em;
	}
}

@media (max-width: 700px) {
	li.row.general {
		width: 33.3%;
		margin: 0;
	}
	
	li.row.general .info .descripcion {
		font-size: 1em;
	}
	
	li.row.general .info .estadisticas li.lastpost,
	li.row.general .info .estadisticas li::before {
		font-size: 1.1em;
	}
}

@media (max-width: 500px) {
	li.row.general {
		height: 130px;
	}
	
	li.row.general .fondo .nombre {
		font-size: 1em;
		height: 23px;
	}
	
	li.row.general .info .descripcion {
		font-size: .9em;
		font-weight: normal;
	}
	
	li.row.general .info .estadisticas {
		height: 33px;
	}
	
	li.row.general .info .estadisticas li.topics,
	li.row.general .info .estadisticas li.posts {
		display: none;
	}
	
	li.row.general .info .estadisticas li.lastpost {
		width: 100%;
		font-size: .9em;
	}
}

/* Subforo Países Principales */
#forum15.forabg li.header dd.topics,
#forum15.forabg li.header dd.posts,
#forum15.forabg li.header dd.lastpost {
	display: none;
}

li.row.pais {
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Verdana, sans-serif;
    border: none;
    height: 150px;
    position: relative;
	color: #fff;
	overflow: hidden;
	box-shadow: 0px -2px 1px 0px rgba(0, 0, 0, .5);
	transition: .2s;
}

li.row.pais:first-child{
	box-shadow: none;
}

li.row.pais:hover,
li.row.pais:focus,
li.row.pais.expandir{
	height: 190px;
}

li.row.pais a:hover {
	text-decoration: none !important;
}

li.row.pais .fondo {
	display: block;
    width: 100%;
    height: 100%;	
	color: #fff;
}

li.row.pais .fondo .imagen {
	background-color: #d8e8e5;
	background-repeat: no-repeat;
	background-position: top center;
	height: 100%;
	width: 100%;
	position: relative;
}

li.row.pais .fondo .nombre {
	text-transform: uppercase;
	position: absolute;
	bottom: 0;
	right: 5px;
	font-family: Anton;
	font-size: 3em;
	text-shadow: 2px 1px 1px #111;
	transition-duration: .2s;
}

li.row.pais:hover .fondo .nombre,
li.row.pais:focus .fondo .nombre,
li.row.pais.expandir .fondo .nombre{
	opacity: 0;
}

li.row.pais .info {
	position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
    padding: 5px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background: rgba(0, 0, 0, .4);
	opacity: 0;
	transition-duration: .2s;
}

li.row.pais:hover .info,
li.row.pais:focus .info,
li.row.pais.expandir .info {
	opacity: 1;
}

li.row.pais .info .links {
    float: left;
    width: 80%;
    height: 100%;
	overflow-y: hidden;
	position: relative;
}

li.row.pais .info .links a:hover,
li.row.pais .info .links a:focus{
	color: #fff !important;
	text-decoration: none !important;
}

li.row.pais .info .links .nombre {
	text-transform: uppercase;
	color: #fff;
	font-family: Anton;
	font-size: 2em;
	text-shadow: 2px 1px 1px #111;
	display: block;
	height: 30px;
}

li.row.pais .info .links .subforos {
	float: left;
	width: calc(40% - 30px);
	height: calc(100% - 30px);
	overflow-y: auto;
	margin-right: 30px;
}

li.row.pais .info .links .subforos .subforum {
    display: block;
    padding: 5px 0;
    background: #81aca2;
    color: #fff;
    margin: 2px;
    width: calc(50% - 4px);
    text-align: center;
    font-size: 1.3em;
}

li.row.pais .info .links .subforos .subforum:nth-child(odd) {
	float: left;
	clear: left;
}

li.row.pais .info .links .subforos .subforum:nth-child(even) {
	float: right;
	clear: right;
}

li.row.pais .info .links .subforos .subforum.unread {
	background: #4d7d72;
	box-shadow: 1px 1px 1px #222;
}

li.row.pais .info .links .descripcion {
	display: inline-block;
    font-family: "Roboto Condensed";
    font-size: 1.4em;
	height: 100%;
	width: 100%;
    color: #fff;
	text-align: justify;
}

li.row.pais .info .links .subforos + .descripcion {
	position: absolute;
    margin-top: -25px;
    width: 60%;
}

li.row.pais .info .divisor {
	float: left;
    background: #fff;
    width: 1px;
    height: calc(100% - 10px);
    margin: 5px 10px;
}

li.row.pais .info .estadisticas {
	float: right;
    width: calc(20% - 21px);
    height: 100%;
}

li.row.pais .info .estadisticas .topics,
li.row.pais .info .estadisticas .posts {
	text-align: center;
	margin-top: 5px;
	width: 50%;
	float: left;
}

li.row.pais .info .estadisticas .topics::before,
li.row.pais .info .estadisticas .posts::before {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
	margin-top: 3px;
}

li.row.pais .info .estadisticas .topics::before {
    content: "Temas";
}

li.row.pais .info .estadisticas .posts::before { 
	content: "Posts";
}

li.row.pais .info .estadisticas .lastpost {
	clear: left;
	padding-top: 25px;
    font-size: 1.2em;	
}

li.row.pais .info .estadisticas .lastpost .lastsubject {
	text-transform: uppercase;
	color: #fff;
}

li.row.pais .info .estadisticas .lastpost .lastsubject:hover {
	color: #fff !important;
}

@media (max-width: 1000px) {
	li.row.pais .info .links .subforos + .descripcion {
		font-size: 1.2em;
	}
}

@media (max-width: 700px) {
	li.row.pais .info .links .subforos + .descripcion {
		margin-top: 0;
		font-size: 1em;
		line-height: 1em;
		overflow-y: auto;
	}
}

@media (max-width: 500px) {
	li.row.pais .info .links .subforos {
		width: 40%;
		margin-right: 0;
	}
	
	li.row.pais .info .links .subforos .subforum {
		font-size: 1em;
	}
	
	li.row.pais .info .links .descripcion {
		font-size: 1.3em;
	}
	
	li.row.pais .info .estadisticas {
		font-size: .8em;
	}
}

@media (max-width: 360px) {
	li.row.pais .info .links .descripcion {
		font-size: 1em;
	}
	
	li.row.pais .info .estadisticas {
		font-size: .7em;
	}
	
	.forabg i.expandir-cat {
		top: 1px;
	}
}

/* Subforo Países Neutrales */
#forum20.forabg li.header dd.topics,
#forum20.forabg li.header dd.posts,
#forum20.forabg li.header dd.lastpost {
	display: none;
}

li.row.pais.neutral {
	height: 100px;
}

li.row.pais.neutral:hover,
li.row.pais.neutral:focus,
li.row.pais.neutral.expandir {
	height: 150px;
}

li.row.pais.neutral .nombre {
	font-size: 2.5em;
}

li.row.pais.neutral .info .links .descripcion {
	font-size: 1.1em;
}

li.row.pais.neutral .info .estadisticas .lastpost {
	padding-top: 15px;
}

/* Marca No Leído */
li.row.general.unread::after,
li.row.pais.unread::after {
    background-image: url(./images/nuevo.png);
    background-size: cover;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
	z-index: 1;
}

li.row.general.unread::after {
    bottom: 5px;
    right: 5px;
}

li.row.pais.unread::after {
    top: 5px;
    left: 5px;
}

@media (max-width: 900px) {	
	li.row.general.unread::after,
	li.row.pais.unread::after {
		width: 20px;
		height: 20px;
	}
}

/* Contenido del Tema */
h2.topic-title {
	font-family: Anton;
    margin-left: 10px;
    text-transform: uppercase;
}

#recent-topics {
	display: none;
}

/* Breadcrumbs Plagiados */

.button {
    padding: 3px 6px 3px 16px;
    position: relative;
    float: left;
	color: #fff;
    background-color: #4c8475;
	display: inline-block;
	margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
	touch-action: manipulation;
    cursor: pointer;
	user-select: none;
    background-image: none;
    border: 1px solid #243f38;
    border-radius: 4px;
	position: relative;
}

.button:hover {
    color: #fff;
    background-color: #355d52;
    border-color: #162723;
	text-decoration: none;
	outline: 0;
}

.breadcrumbs > .crumb {
    padding: 3px 6px 3px 16px;
    position: relative;
    float: left;
	color: #fff;
    background-color: #4c8475;
	display: inline-block;
	margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
	touch-action: manipulation;
    cursor: pointer;
	user-select: none;
    background-image: none;
    border: 1px solid #243f38;
    border-radius: 4px;
	position: relative;
}

.breadcrumbs > .crumb:hover {
    color: #fff;
    background-color: #355d52;
    border-color: #162723;
	text-decoration: none;
	outline: 0;
}

.breadcrumbs > .crumb + .crumb {
    margin-left: -1px;
}

.breadcrumbs > .crumb:not(:last-child):before {
    content: " ";	
    display: block;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 10px solid #243f38;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
}

.breadcrumbs > .crumb:hover:not(:last-child):before {
    border-left: 10px solid #162723;
}

.breadcrumbs > .crumb:not(:last-child):after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
	border-left: 10px solid #4c8475;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: 100%;
    z-index: 3;
}

.breadcrumbs > .crumb:hover:not(:last-child):after {
    border-left: 10px solid #355d52;
}

.breadcrumbs > .crumb:last-child {
    padding: 3px 9px 3px 16px;
}

.breadcrumbs > .crumb:first-child {
    margin-left: 0;
    padding: 3px 0px 3px 5px;
}

.breadcrumbs > .crumb:first-child:last-child {
    padding: 3px 3px 3px 5px;
}

.breadcrumbs > .crumb:first-child:not(:last-child) {
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.breadcrumbs > .crumb:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.breadcrumbs > .crumb:not(:first-child):not(:last-child) {
    border-radius: 0;
}

/* MOD Collapsible Categories */
.collapse-btn {
	background-color: transparent !important;
	border-color: #fff !important;
	margin: -25px 10px 0 0 !important;
}

.collapse-btn:after, .collapse-btn:before {
	background-color: transparent !important;
	border-color: #fff !important;	
}

.collapse-btn:hover, .collapse-btn:hover:after, .collapse-btn:hover:before {
	background-color: rgba(255, 255, 255, 0.1) !important;
}
