/* -- COMMON -- */

div.sladmin {
	background: #fff;
	border-radius: 5px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	clear: both;
	margin: 0 10px;
	padding: 1px 20px 20px 20px;
}

ul.menu {
	padding-left: 20px;
}

/* -- TABLES -- */

div.sladmin table th {
    background: #e3e3e3;
}

div.sladmin table td, div.sladmin table th {
    border: #222 solid 1px;
	padding: 1px;
}

div.sladmin input[type="number"] {
	width: 40px;
}

div.sladmin input.free[type="number"] {
	width: auto;
}

div.sladmin select {
	width: 120px;
}

div.sladmin textarea {
	resize: none;
	overflow: hidden;
	width: 40px !important;
	height: 40px !important;
}

div.sladmin textarea:focus {
	width: 100px !important;
	height: 100px !important;
	overflow-y: auto;
}