<!-- INCLUDE overall_header.html -->
<link rel="stylesheet" href="/styles/proakira/theme/ficha.css?v=1.0.3" type="text/css">
<link rel="stylesheet" href="/styles/proakira/theme/cambiosficha.css?v=1.0.3" type="text/css">

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <form method="POST" action="/tecnicas/store" onsubmit="return checkTecnica();">
        <div class="card">
          <div class="card-body">
            <div class="form-group row">
              <label for="etiqueta" class="col-3 col-form-label text-md-left">Etiqueta</label>
              <div class="col-6">
                <input id="etiqueta" type="text" class="form-control" name="etiqueta" value="jutsu00" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="rama" class="col-3 col-form-label text-md-left">Rama</label>
              <div class="col-6">
                <select class="form-control" id="rama" name="rama" required>
                  <option value="0">Ninguna</option>
                  {RAMA_OPTIONS}
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="name" class="col-3 col-form-label text-md-left">Nombre</label>
              <div class="col-6">
                <input id="name" type="text" class="form-control" name="name" value="Nombre Japonés (Nombre Español)" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="tipo" class="col-3 col-form-label text-md-left">Tipo</label>
              <div class="col-6">
                <select id="tipo" name="tipo[]" class="custom-select" multiple="multiple" required>
                  <option value="1">Ninjutsu</option>
                  <option value="2">Taijutsu</option>
                  <option value="3">Genjutsu</option>
                  <option value="4">Fuinjutsu</option>
                  <option value="5">Senjutsu</option>
                  <option value="6">Bijutsu</option>
                  <option value="7">Kinjutsu</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="rango" class="col-3 col-form-label text-md-left">Rango</label>
              <div class="col-6">
                <select class="form-control" id="rango" name="rango" required>
                  <option value="Rango E">E</option>
                  <option value="Rango D">D</option>
                  <option value="Rango C">C</option>
                  <option value="Rango B">B</option>
                  <option value="Rango A">A</option>
                  <option value="Rango S">S</option>
                </select>
              </div>
            </div>
            <h3>Requisitos</h3><br>
            <div class="form-group row">
              <label for="requisitos" class="col-3 col-form-label text-md-left">
                <ul style="list-style-type:none;">
                  <li><input type="button" class="btn-etiqueta" data-div='requisitos'  data-tag='#'   value='UL'></input> 
                  <li><input type="button" class="btn-etiqueta" data-div='requisitos'  data-tag='$'   value='LI'></input>
                  <li><input type="button" class="btn-etiqueta" data-div='requisitos'  data-tag='b'   value='B'></input>
                  <li><input type="button" class="btn-etiqueta" data-div='requisitos'  data-tag='pv'  value='PV'></input>
                  <li><input type="button" class="btn-etiqueta" data-div='requisitos'  data-tag='pc'  value='PC'></input>
                  <li><input type="button" class="btn-etiqueta" data-div='requisitos'  data-tag='sta' value='STA'></input>
                </ul>
              </label>
              <div class="col-6">
                <!-- <div contenteditable="true" class="form-control " class="form-control" name="requisitos" id="requisitos" required="required" style="height:200px"></div> -->
                  <div contenteditable="true" class="form-control div_editable" id="requisitos" data-input='requisitos_input' required="required" style="height:200px"></div>
                  <input type="hidden" name="requisitos" id="requisitos_input"/>
                </div>
            </div>
            <div class="form-group row">
              <label for="sellos" class="col-3 col-form-label text-md-left">Sellos <br><small>Usar →</small></label>
              <div class="col-6">
                <input id="sellos" type="text" class="form-control" name="sellos" value="">
              </div>
            </div>
            <h3>Efectos</h3><br>
            <div class="form-group row">
              <label for="efectos" class="col-3 col-form-label text-md-left">
                <ul style="list-style-type:none;">
                  <li><input type="button" class="btn-etiqueta" data-div='efectos' data-tag='#'   value='UL'></input> 
                  <li><input type="button" class="btn-etiqueta" data-div='efectos' data-tag='$'   value='LI'></input>
                  <li><input type="button" class="btn-etiqueta" data-div='efectos' data-tag='b'   value='B'></input>
                  <li><input type="button" class="btn-etiqueta" data-div='efectos' data-tag='pv'  value='PV'></input>
                  <li><input type="button" class="btn-etiqueta" data-div='efectos' data-tag='pc'  value='PC'></input>
                  <li><input type="button" class="btn-etiqueta" data-div='efectos' data-tag='sta' value='STA'></input>
                </ul>
              </label>
              <div class="col-6">
                  <div contenteditable="true" class="form-control div_editable" id="efectos" data-input='efectos_input' required="required" style="height:200px"></div>
                  <input type="hidden" name="efectos" id="efectos_input"/>
              </div>
            </div>
            <h3>Daño</h3><br>
            <div class="form-group row">
              <label for="damage" class="col-3 col-form-label text-md-left">
                <ul style="list-style-type:none;">
                  <li><input type="button" class="btn-etiqueta" data-div='damage' data-tag='b'    value='B'></input>
                  <li><input type="button" class="btn-etiqueta" data-div='damage' data-tag='pv'   value='PV'></input>
                  <li><input type="button" class="btn-etiqueta" data-div='damage' data-tag='pc'   value='PC'></input>
                  <li><input type="button" class="btn-etiqueta" data-div='damage' data-tag='sta'  value='STA'></input>
                </ul>
              </label>
              <div class="col-6">
                  <div contenteditable="true" class="form-control div_editable" id="damage" data-input='damage_input' style="height:50px"></div>
                  <input type="hidden" name="damage" id="damage_input"/>
                </div>
            </div>
            <h3>Coste</h3><br>
            <div class="form-group row">
              <label for="coste" class="col-3 col-form-label text-md-left">
                <ul style="list-style-type:none;">
                  <li><input type="button" class="btn-etiqueta" data-div='coste' data-tag='b'   value='B'></input>
                  <li><input type="button" class="btn-etiqueta" data-div='coste' data-tag='pv'  value='PV'></input>
                  <li><input type="button" class="btn-etiqueta" data-div='coste' data-tag='pc'  value='PC'></input>
                  <li><input type="button" class="btn-etiqueta" data-div='coste' data-tag='sta' value='STA'></input>
                </ul>
              </label>
              <div class="col-6">
                  <div contenteditable="true" class="form-control div_editable" id="coste" data-input='coste_input' style="height:50px"></div>
                  <input type="hidden" name="coste" id="coste_input"/>
                </div>
            </div>
            <h3>Descripción</h3><br>
            <div class="form-group row">
              <label for="descripcion" class="col-3 col-form-label text-md-left"></label>

              <div class="col-6">
                <textarea class="form-control" name="descripcion" id="descripcion" required="required" style="height:200px"></textarea>
              </div>
            </div>
            <div class="col-4 offset-md-3">
              <input type="submit" class="btn btn-success" value="Crear técnica"></input>
            </div>
          </div>
      <form>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>


function surroundSelection(textBefore, textAfter) {
  
    if (window.getSelection) {
        var sel = window.getSelection();
        
        if (sel.rangeCount > 0) {
          
            var range = sel.getRangeAt(0);
            var startNode = range.startContainer, startOffset = range.startOffset;
            var boundaryRange = range.cloneRange();
            var startTextNode = document.createTextNode(textBefore);
            var endTextNode = document.createTextNode(textAfter);
            boundaryRange.collapse(false);
            boundaryRange.insertNode(endTextNode);
            boundaryRange.setStart(startNode, startOffset);
            boundaryRange.collapse(true);
            boundaryRange.insertNode(startTextNode);
            
            // Reselect the original text
            range.setStartAfter(startTextNode);
            range.setEndBefore(endTextNode);
            sel.removeAllRanges();
            sel.addRange(range);
        }
    }
}

function surroundSelectionInBbcode(tagName) {
  
    surroundSelection("[" + tagName + "]", "[/" + tagName + "]");
}

$(document).on('click', '.btn-etiqueta', function() {
  
    var div = $(this).attr('data-div');
    var tag = $(this).attr('data-tag');   
    $('#'+div).focus();
    surroundSelectionInBbcode(tag);
    return false;
});

//focusout
$(document).on('keyup', '.div_editable', function() {
  var input = $(this).attr('data-input');
  var text = $(this).text();
  $('#'+input).val(text);
});

$(document).on('focusout', '.div_editable', function() {
  var input = $(this).attr('data-input');
  var text = $(this).text();
  $('#'+input).val(text);
});

</script>
<!-- INCLUDE overall_footer.html -->
