<!-- INCLUDE overall_header.html -->
<link rel="stylesheet" href="/styles/proakira/theme/ficha.css?v=1.0.3" type="text/css">
<link rel="stylesheet" href="/styles/proakira/theme/cambiosficha.css?v=1.0.3" type="text/css">

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <form method="POST" action="/tecnicas/store" onsubmit="return checkTecnica();">
        <div class="card">
          <div class="card-body">
            <div class="form-group row">
              <label for="etiqueta" class="col-3 col-form-label text-md-left">Etiqueta</label>
              <div class="col-6">
                <input id="etiqueta" type="text" class="form-control" name="etiqueta" value="jutsu00" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="rama" class="col-3 col-form-label text-md-left">Rama</label>
              <div class="col-6">
                <select class="form-control" id="rama" name="rama" required>
                  <option value="0">Ninguna</option>
                  {RAMA_OPTIONS}
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="name" class="col-3 col-form-label text-md-left">Nombre</label>
              <div class="col-6">
                <input id="name" type="text" class="form-control" name="name" value="Nombre Japonés (Nombre Español)" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="tipo" class="col-3 col-form-label text-md-left">Tipo</label>
              <div class="col-6">
                <select id="tipo[]" name="tipo[]" class="custom-select" multiple="multiple" required>
                  <option value="1">Ninjutsu</option>
                  <option value="2">Taijutsu</option>
                  <option value="3">Genjutsu</option>
                  <option value="4">Fuinjutsu</option>
                  <option value="5">Senjutsu</option>
                  <option value="6">Bijutsu</option>
                  <option value="7">Kinjutsu</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="rango" class="col-3 col-form-label text-md-left">Rango</label>
              <div class="col-6">
                <select class="form-control" id="rango" name="rango" required>
                  <option value="E">E</option>
                  <option value="D">D</option>
                  <option value="C">C</option>
                  <option value="B">B</option>
                  <option value="A">A</option>
                  <option value="S">S</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="sellos" class="col-3 col-form-label text-md-left">Sellos <br><small>Usar →</small></label>
              <div class="col-6">
                <input id="sellos" type="text" class="form-control" name="sellos" value="">
              </div>
            </div>
            <h3>Requisitos</h3><br>
            <div class="form-group row">
              <label for="requisitos" class="col-3 col-form-label text-md-left">
                <ul style="list-style-type:none;">
                  <li>Para abrir y cerrar UL: <b>#</b> y <b>/#</b></li>
                  <li>Para abrir y cerrar LI: <b>$</b> y <b>/$</b></li>
                  <li>Para abrir y cerrar PV: <b>&</b> y <b>/&</b></li>
                  <li>Para abrir y cerrar PC: <b>@</b> y <b>/@</b></li>
                  <li>Para abrir y cerrar STA: <b>|</b> y <b>/|</b></li>
                </ul>
              </label>
              <div class="col-6">
                  <textarea class="form-control" name="requisitos" id="requisitos" required="required" style="height:200px"></textarea>
              </div>
            </div>
            <h3>Efectos</h3><br>
            <div class="form-group row">
              <label for="efectos" class="col-3 col-form-label text-md-left">
                <ul style="list-style-type:none;">
                  <li>Para abrir y cerrar UL: <b>#</b> y <b>/#</b></li>
                  <li>Para abrir y cerrar LI: <b>$</b> y <b>/$</b></li>
                  <li>Para abrir y cerrar PV: <b>&</b> y <b>/&</b></li>
                  <li>Para abrir y cerrar PC: <b>@</b> y <b>/@</b></li>
                  <li>Para abrir y cerrar STA: <b>|</b> y <b>/|</b></li>
                </ul>
              </label>
              <div class="col-6">
                  <textarea class="form-control" name="efectos" id="efectos" required="required" style="height:200px"></textarea>
              </div>
            </div>
            <h3>Daño</h3><br>
            <div class="form-group row">
              <label for="pv_damage" class="col-3 col-form-label text-md-left">PV</label>
              <div class="col-6">
                <input id="pv_damage" type="number" class="form-control" name="pv_damage" value="" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="sta_damage" class="col-3 col-form-label text-md-left">STA</label>
              <div class="col-6">
                <input id="sta_damage" type="number" class="form-control" name="sta_damage" value="" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="pc_damage" class="col-3 col-form-label text-md-left">PC</label>
              <div class="col-6">
                <input id="pc_damage" type="text" class="form-control" name="pc_damage" value="" required>
              </div>
            </div>
            <div class="col-6 offset-md-1">
              <input type="checkbox" name="por_turno_damage" class="form-check-input" value="">Por turno
            </div>
            <h3>Costes</h3><br>
            <div class="form-group row">
              <label for="pc" class="col-3 col-form-label text-md-left">PC</label>
              <div class="col-6">
                <input id="pc" type="number" class="form-control" name="pc" value="" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="sta" class="col-3 col-form-label text-md-left">STA</label>
              <div class="col-6">
                <input id="sta" type="number" class="form-control" name="sta" value="" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="pv" class="col-3 col-form-label text-md-left">PV</label>
              <div class="col-6">
                <input id="pv" type="number" class="form-control" name="pv" value="" required>
              </div>
            </div>
            <div class="col-6 offset-md-1">
              <input type="checkbox" name="por_turno" class="form-check-input" value="">Por turno
            </div>
            <h3>Descripción</h3><br>
            <div class="form-group row">
              <label for="descripcion" class="col-3 col-form-label text-md-left"></label>

              <div class="col-6">
                <textarea class="form-control" name="descripcion" id="descripcion" required="required" style="height:200px"></textarea>
              </div>
            </div>
            <div class="col-4 offset-md-3">
              <input type="submit" class="btn btn-success" value="Crear técnica"></input>
            </div>
          </div>
      <form>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- INCLUDE overall_footer.html -->
