<!-- INCLUDE mcp_header.html -->

<form method="post" id="mcp" action="{U_POST_ACTION}">
	<div class="card">
		<div class="card-header">
			{L_WARNED_USERS}
		</div>
		<div class="card-body">
			<p>{L_WARNED_USERS_EXPLAIN}</p>
			<!-- IF .user -->
				<div class="row">
					<div class="col-12 text-center">
						<div class="btn-group">
							<a class="btn btn-secondary btn-sm disabled">{TOTAL_USERS}</a>
							<!-- IF .pagination -->
								<!-- INCLUDE pagination.html -->
							<!-- ELSE -->
								<a class="btn btn-secondary btn-sm disabled">{PAGE_NUMBER}</a>
							<!-- ENDIF -->
						</div>
					</div>
				</div>
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th class="name">{L_USERNAME}</th>
							<th class="warning">{L_WARNINGS}</th>
							<th class="time">{L_LATEST_WARNING_TIME}</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					<!-- BEGIN user -->
						<tr>
							<td>{user.USERNAME_FULL}</td>
							<td>{user.WARNINGS}</td>
							<td>{user.WARNING_TIME}</td>
							<td><a href="{user.U_NOTES}">{L_VIEW_NOTES}</a></td>
						</tr>
					<!-- END user -->
					</tbody>
				</table>
				<!-- INCLUDE display_options.html -->
			<!-- ELSE -->
				<p><strong>{L_NO_WARNINGS}</strong></p>
			<!-- ENDIF -->
			{S_FORM_TOKEN}
		</div>
	</div>
</form>

<!-- INCLUDE mcp_footer.html -->
