<div class="card mt-3">
	<div class="card-header">
		<i class="fa fa-globe"></i> <!-- IF U_VIEWONLINE --><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a><!-- ELSE -->{L_WHO_IS_ONLINE}<!-- ENDIF -->
	</div>
	<div class="card-body">
		<!-- EVENT index_body_block_online_prepend -->
		{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}<br />
		<hr />
		{LOGGED_IN_USER_LIST}
		<!-- IF LEGEND --><br /><em>{L_LEGEND}{L_COLON} {LEGEND}</em><!-- ENDIF -->
		<!-- EVENT index_body_block_online_append -->
	</div>
</div>
