<nav>
	<ul class="pagination pagination-sm m-0 justify-content-center">
		<!-- BEGIN pagination -->
			<!-- IF pagination.S_IS_PREV -->
				<li class="page-item"><a href="{pagination.PAGE_URL}" class="page-link" aria-label="Previous" rel="prev" role="button"><i class="fa fa-chevron-left fa-fw" aria-hidden="true"></i> <span class="sr-only">{L_PREVIOUS}</span></a></li>
			<!-- ELSEIF pagination.S_IS_CURRENT -->
				<li class="page-item active"><a class="page-link" href="#">{pagination.PAGE_NUMBER}</a></li>
			<!-- ELSEIF pagination.S_IS_ELLIPSIS -->
				<li class="ellipsis" role="separator"><span>{L_ELLIPSIS}</span></li>
			<!-- ELSEIF pagination.S_IS_NEXT -->
				<li class="page-item"><a href="{pagination.PAGE_URL}" class="page-link" aria-label="Next" rel="next" role="button"><span class="sr-only">{L_NEXT}</span> <i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i></a></li>
			<!-- ELSE -->
				<li class="page-item"><a href="{pagination.PAGE_URL}" class="page-link" role="button">{pagination.PAGE_NUMBER}</a></li>
			<!-- ENDIF -->
		<!-- END pagination -->
	</ul>
</nav>
