<div role="tabpanel" class="tab-pane" id="poll-tab">
	<!-- IF S_SHOW_POLL_BOX -->
	<p>{L_ADD_POLL_EXPLAIN}</p>
	<!-- ENDIF -->
	<fieldset class="form-horizontal">
		<!-- IF S_POLL_DELETE -->
			<div class="form-group row">
				<label for="poll_delete" class="col-2 col-form-label">{L_POLL_DELETE}{L_COLON}</label>
				<div class="col-5">
					<label for="poll_delete"><input type="checkbox" name="poll_delete" id="poll_delete"<!-- IF S_POLL_DELETE_CHECKED --> checked="checked"<!-- ENDIF --> /></label>
				</div>
			</div>
		<!-- ENDIF -->
		<!-- IF S_SHOW_POLL_BOX -->
			<div class="form-group row">
				<label for="poll_title" class="col-2 col-form-label">{L_POLL_QUESTION}{L_COLON}</label>
				<div class="col-5">
					<input type="text" name="poll_title" id="poll_title" maxlength="255" value="{POLL_TITLE}" class="form-control" />
				</div>
			</div>
			<div class="form-group row">
				<label for="poll_option_text" class="col-2 col-form-label">{L_POLL_OPTIONS}{L_COLON}</label>
				<div class="col-5">
					<textarea name="poll_option_text" id="poll_option_text" rows="5" cols="35" class="form-control">{POLL_OPTIONS}</textarea>
					<span class="form-text text-muted">{L_POLL_OPTIONS_EXPLAIN}</span>
				</div>
			</div>
			<hr class="dashed" />
			<div class="form-group row">
				<label for="poll_max_options" class="col-2 col-form-label">{L_POLL_MAX_OPTIONS}{L_COLON}</label>
				<div class="col-1">
					<input id="poll_max_options" class="form-control" type="number" min="0" max="999" name="poll_max_options" value="{POLL_MAX_OPTIONS}" />
				</div>
				<span class="form-text text-muted col-12">{L_POLL_MAX_OPTIONS_EXPLAIN}</span>
			</div>
			<div class="form-group row">
				<label for="poll_length" class="col-2 col-form-label">{L_POLL_FOR}{L_COLON}</label>
				<div class="input-group col-2">
						<input id="poll_length" class="form-control" type="number" min="0" max="999" name="poll_length"  value="{POLL_LENGTH}" />
					<div class="input-group-append">
						<span class="input-group-text">{L_DAYS}</span>
					</div>
				</div>
				<span class="form-text text-muted col-12">{L_POLL_FOR_EXPLAIN}</span>
			</div>

			<!-- IF S_POLL_VOTE_CHANGE -->
				<hr class="dashed" />
				<div class="form-group row">
					<label for="poll_vote_change" class="col-2">{L_POLL_VOTE_CHANGE}{L_COLON}</label>
					<div class="col-5">
						<div class="form-check">
							<input class="form-check-input position-static" type="checkbox" name="poll_vote_change" id="poll_vote_change" {VOTE_CHANGE_CHECKED} />
							<label for="poll_vote_change" class="form-check-label">
								{L_POLL_VOTE_CHANGE_EXPLAIN}
							</label>
						</div>
					</div>
				</div>
			<!-- ENDIF -->
		<!-- ENDIF -->
		<!-- EVENT posting_poll_body_options_after -->
	</fieldset>
</div>
