<!-- INCLUDE overall_header.html -->
<link rel="stylesheet" href="/styles/proakira/theme/ficha.css?v=1.0.3" type="text/css">
 <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"> -->
<!--  -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <link rel="stylesheet" href="/styles/proakira/theme/w3.css?v=1.0.3" type="text/css"> -->
<link rel="stylesheet" href="/styles/proakira/theme/cambiosficha.css?v=1.0.93" type="text/css">
<!-- SELECT 2 JS Y CSS -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<div class="container">
  <strong><ul class="nav nav-tabs mb-3">
    <!-- <li>
      <a class="nav-link" id="tabs-rev-ficha" data-toggle="tab" href="#revision_ficha" role="tab" aria-controls="revision_ficha" aria-selected="false">Revisión de Ficha</a>
    </li> -->
    <li>
      <a class="nav-link" id="tabs-rev-tema" href="#revision_tema" data-toggle="tab" role="tab" aria-controls="revision_tema" aria-selected="false">Revisión de Temas</a>
    </li>
    <li>
      <a class="nav-link" id="tabs-rev-misiones" data-toggle="tab" href="#revision_misiones" role="tab" aria-controls="revision_misiones" aria-selected="false">Revisión de Misiones</a>
    </li>
    <li>
      <a href="/mod/home" class="nav-link btn-warning" role="tab" aria-selected="false">Volver al inicio</a>
    </li>    
  </ul></strong>

  <div class="tab-content" id="tabs-tabContent">
    <!-- <div class="col-md-12 card tab-pane fade" id="revision_ficha" role="tabpanel" aria-labelledby="tabs-rev-ficha-tab">
      <h3>Revisión de Ficha</h3><br>
      <div class="card-body">
        <form method="POST" action="/mod/store/revision_ficha">
          <div class="form-group row">
            <label class="col-3 col-form-label text-md-left" for="asunto_rev_ficha">Asunto</label> 
            <div class="col-5">
              <input id="asunto_rev_ficha" name="asunto_rev_ficha" type="text" required="required" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="enlace_rev_ficha" class="col-3 col-form-label text-md-left">Enlaces de interés</label> 
            <div class="col-5">
              <input id="enlace_rev_ficha" name="enlace_rev_ficha" type="text" required="required" class="form-control">
            </div>
          </div> 
          <div class="form-group row">
            <div class="offset-4 col-5">
              <button name="submit" type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div> -->
    
    <div class="col-md-12 card tab-pane fade" id="revision_tema" role="tabpanel" aria-labelledby="tabs-rev-tema-tab">
      <h3>Revisión de Tema</h3><br> 
      <div class="card-body">
        <form method="POST" action="/mod/store/revision_tema">
          <div class="form-group row">
            <label for="rev_tema_tipo" class="col-3 col-form-label text-md-left">Tipo de Tema</label> 
            <div class="col-5">
              <select id="rev_tema_tipo" name="rev_tema_tipo" class="custom-select required="required">
                <option value="Combate">Combate</option>
                <option value="Social">Social</option>
                <option value="Generico">Generico</option>
                <!-- <option value="Cronica">Crónica</option> -->
                <!-- <option value="Trabajo">Trabajo</option> -->
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="rev_tema_enlace" class="col-3 col-form-label text-md-left">Enlace al Tema</label> 
            <div class="col-5">
              <input id="rev_tema_enlace" name="rev_tema_enlace" type="text" class="form-control" required="required">
            </div>
          </div>
          <div class="form-group row">
            <label for="rev_tema_participantes" class="col-3 col-form-label text-md-left">Participantes</label> 
            <div class="col-5">
              <select multiple="multiple" id="rev_tema_participantes" name="rev_tema_participantes[]" class="custom-select" required="required"></select>
            </div>
          </div> 
          <div class="form-group row">
            <div class="offset-4 col-5">
              <button name="submit" id="bt_enviar_tema" type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    
    <div class="col-md-12 card tab-pane fade" id="revision_misiones" role="tabpanel" aria-labelledby="tabs-rev-misiones-tab">
      <h3>Revisión de Misiones</h3><br>
      <div class="card-body">
        <form method="POST" action="/mod/store/revision_mision">
          <div class="form-group row">
            <label for="rev_mision_tipo" class="col-3 col-form-label text-md-left">Tipo de Tema</label> 
            <div class="col-5">
              <select id="rev_mision_tipo" name="rev_mision_tipo" required="required" class="custom-select">
                <option value="Mision D Solitaria">Misión D Solitaria</option>
                <option value="Mision D Grupal">Misión D Grupal</option>
                <option value="Mision C">Misión C</option>
                <option value="Mision B">Misión B</option>
                <option value="Mision A">Misión A</option>
                <option value="Mision S">Misión S</option>
                <option value="Encargo D Solitaria">Encargo D Solitaria</option>
                <option value="Encargo D Grupal">Encargo D Grupal</option>
                <option value="Encargo C">Encargo C</option>
                <option value="Encargo B">Encargo B</option>
                <option value="Encargo A">Encargo A</option>
                <option value="Encargo S">Encargo S</option>
                <option value="Trama C">Trama C</option>
                <option value="Trama B">Trama B</option>
                <option value="Trama A">Trama A</option>
                <option value="Trama S">Trama S</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="rev_mision_enlace" class="col-3 col-form-label text-md-left">Enlace al Tema</label> 
            <div class="col-5">
              <input id="rev_mision_enlace" name="rev_mision_enlace" type="text" required="required" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="rev_mision_participantes" class="col-3 col-form-label text-md-left">Participantes</label> 
            <div class="col-5">
              <select multiple="multiple" id="rev_mision_participantes" name="rev_mision_participantes[]" required="required" class="custom-select"></select>
            </div>
          </div> 
          <div class="form-group row">
            <div class="offset-4 col-5">
              <button name="submit" id="bt_enviar_mision" type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    
  </div>
</div>
  <!-- jQuery CDN - Slim version (=without AJAX) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <!-- Popper.JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

  <script>
  $( document ).ready(function(){
    
    $( "#rev_mision_enlace" ).change(function() {
      var topic = $( "#rev_mision_enlace" ).val();
      $.ajax({
        data: {
          'topic_id': topic,
        }, 
        url: "/moderacion/participantes",  
        type : 'POST', 
        success: function(result){
          $("#rev_mision_participantes").html("");
          $("#rev_mision_participantes").html(result);
          $('#rev_mision_participantes').select2();
          $('#bt_enviar_mision').prop('disabled', false);
        },
        error: function (xhr, ajaxOptions, thrownError) {
          if(xhr.status == 503){
            alert('Inserte otro enlace, ese no funciona correctamente.');
            $('#rev_mision_enlace').val('');
            $('#bt_enviar_mision').prop('disabled', true);
          }
        }
      });
      });

    $( "#rev_tema_enlace" ).change(function() {
      var topic = $( "#rev_tema_enlace" ).val();
      $.ajax({
        data: {
          'topic_id': topic,
        }, 
        url: "/moderacion/participantes",  
        type : 'POST', 
        success: function(result){
          $("#rev_tema_participantes").html("");
          $("#rev_tema_participantes").html(result);
          $('#rev_tema_participantes').select2();
          $('#bt_enviar_tema').prop('disabled', false);
        },
        error: function (xhr, ajaxOptions, thrownError) {
          if(xhr.status == 503){
            alert('Inserte otro enlace, ese no funciona correctamente.');
            $('#rev_tema_enlace').val('');
            $('#bt_enviar_tema').prop('disabled', true);
          }
        }
      });
      });
  });
  </script>
  <!-- INCLUDE overall_footer.html -->