<!-- INCLUDE overall_header.html -->
<link rel="stylesheet" href="/styles/proakira/theme/ficha.css?v=1.0.3" type="text/css">
 <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"> -->
<!--  -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <link rel="stylesheet" href="/styles/proakira/theme/w3.css?v=1.0.3" type="text/css"> -->
<link rel="stylesheet" href="/styles/proakira/theme/cambiosficha.css?v=1.0.93" type="text/css">

<div class="container card" id="otorgar_recompensa">
    <h3>Otorgar recompensa</h3>
    <div class="card-body">
      <form method="POST" action="/mod/dar_recompensa_tema">
        <input type="hidden" id="id_participante" name="id_participante" value="{id_participante}">
        <input type="hidden" id="id_revision" name="id_revision" value="{id_revision}">
        <h3>Opciones de Cuenta</h3><br>
        <div class="form-group row">
          <label for="gamemaster" class="col-5 col-form-label text-md-left">¿Es Game Master? (No cuenta GM participante)</label> 
          <div class="col-5">
            <select id="gamemaster" name="gamemaster" required="required" class="custom-select">
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="id_alternativo" class="col-5 col-form-label text-md-left">¿La experiencia es para otra cuenta? Coloca el Perfil</label> 
          <div class="col-5">
            <input type="text" id="id_alternativo" name="id_alternativo" class="form-control">
          </div>
        </div>
        <h3>Criterios de Rol</h3><br>
        <div class="form-group row">
          <label for="entorno" class="col-5 col-form-label text-md-left">¿Narra bien el entorno?</label> 
          <div class="col-5">
            <select id="entorno" name="entorno" required="required" class="custom-select">
              <option value="Si">Si</option>
              <option value="A veces">A veces</option>
              <option value="No">No</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
            <label for="acciones" class="col-5 col-form-label text-md-left">¿Narra bien sus acciones?</label> 
            <div class="col-5">
              <select id="acciones" name="acciones" required="required" class="custom-select">
                <option value="Si">Si</option>
                <option value="A veces">A veces</option>
                <option value="No">No</option>
              </select>
            </div>
          </div>
        <div class="form-group row">
          <label for="interesante" class="col-5 col-form-label text-md-left">¿Te ha parecido interesante?</label> 
          <div class="col-5">
            <select id="interesante" name="interesante" required="required" class="custom-select">
              <option value="Si">Si</option>
              <option value="A veces">A veces</option>
              <option value="No">No</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="longitud" class="col-5 col-form-label text-md-left">¿La cantidad de texto en sus posts suele llegar al nivel?</label> 
          <div class="col-5">
            <select id="longitud" name="longitud" required="required" class="custom-select">
              <option value="Si">Si</option>
              <option value="A veces">A veces</option>
              <option value="No">No</option>
            </select>
          </div>
        </div>
        <h3>Criterios de Tema Específicos</h3><br>
        <div class="form-group row">
          <label for="aporto_personajes" class="col-5 col-form-label text-md-left">¿Es un tema de gran calidad y aporta al desarrollo de los personajes?</label> 
          <div class="col-5">
            <select id="aporto_personajes" name="aporto_personajes" required="required" class="custom-select">
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-4 col-5">
            <button name="submit" type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </div>

<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <!-- INCLUDE overall_footer.html -->

