<!-- INCLUDE overall_header.html -->

<link rel="stylesheet" href="/styles/proakira/theme/cofres.css?v=1.1.1" type="text/css" />

<div class="cofres">
	<h1 class="cofres-title">¡Abierto Cofre Rango {RANGO}<!-- IF ITEMS_EXTRA --> +{ITEMS_EXTRA} <!-- ENDIF -->!</h1>
	<div class="cofres-imagen-grande"><img src="{IMG_ABIERTO_URL}" /></div>
	<!-- BEGIN premios -->
	<div class="cofre-container">
		<div class="cofre-imagen-container" style="box-shadow: 0 0 4px 4px #{premios.COLOR}">
			<img src="{premios.URL_IMAGEN}" border="0" />
		</div>
		<div class="cofre-content">
			<div class="cofre-title">
				{premios.NOMBRE}
			</div>
			<div class="cofre-info">
				<tipo {premios.TAG}>{premios.TIPO}</tipo>
			</div>
		</div>
	</div>
	<!-- END premios -->
	<br style="clear: both" />
	<br />
	<div class="cofres-volver">
		<a href="/cofres">&gt; Abrir otro cofre &lt;</a>
	</div>
</div>

<!-- INCLUDE overall_footer.html -->
