<!-- INCLUDE overall_header.html -->

<link rel="stylesheet" href="/styles/proakira/theme/cofres.css?v=1.2.4" type="text/css" />

<div class="cofres">
	<a class="fas fa-chevron-circle-left cofres-help" href="/cofres" title="Ir a abrir cofres"></a>
	<h1 class="cofres-title">Historial de Cofres Abiertos</h1>
	<!-- BEGIN cofres -->
	<hr />
	<div class="cofre-help-container">
		<div class="cofre-help-content">
			<div class="cofre-container cofre-history-container">
				<div class="cofre-imagen-container">
					<div class="cofre-imagen-cerrado" style="background-image: url({cofres.URL_IMAGEN})"></div>
				</div>
				<div class="cofre-content">
					<div class="cofre-title">
						Cofre Rango {cofres.RANGO}<!-- IF cofres.ITEMS_EXTRA --> +{cofres.ITEMS_EXTRA}<!-- ENDIF --><!-- IF cofres.NOMBRE_PJ --> de {cofres.NOMBRE_PJ}<!-- ENDIF -->
					</div>
					<div class="cofre-info">
						Recibido en {cofres.TOPIC_TITLE} el {cofres.FECHA_RECIBIDO}.<br />
						{cofres.ESTADO} el {cofres.FECHA_ABIERTO}.
					</div>
				</div>
			</div>
			<div class="cofre-loot">
				<!-- BEGIN cofres.premios -->
				<div class="cofre-container">
					<div class="cofre-imagen-container" style="box-shadow: 0 0 4px 4px #{cofres.premios.COLOR}">
						<img src="{cofres.premios.URL_IMAGEN}" border="0" />
					</div>
					<div class="cofre-content">
						<div class="cofre-title">
							{cofres.premios.NOMBRE}
						</div>
						<div class="cofre-info">
							<tipo {cofres.premios.TAG}>{cofres.premios.TIPO}</tipo>
						</div>
					</div>
				</div>
				<!-- END cofres.premios -->
			</div>
		</div>
		<br style="clear: both" />
	</div>
	<!-- END cofres -->
	<!-- IF not cofres -->
	<div class="cofres-vacio">
		No hay cofres en el historial.
	</div>
	<!-- ENDIF -->
	<br style="clear: both" />
</div>

<!-- INCLUDE overall_footer.html -->
