<!-- INCLUDE overall_header.html -->

<link rel="stylesheet" href="/styles/proakira/theme/cofres.css?v=1.1.1" type="text/css" />

<div class="cofres">
	<a class="icon fa-fw fa-chevron-circle-left cofres-help" href="/cofres" title="Ir a abrir cofres"></a>
	<h1 class="cofres-title">Cofres de Tesoro</h1>
	<hr />
	<div class="cofres-leyenda">
		Completa misiones o encargos para recibir cofres de su mismo Rango. Distintos cofres poseen distintos premios posibles, desde un pequeño Makibishi hasta el costoso Veneno Letal. También puedes obtener cofres mediante el Premio Diario, ganando un Cofre Rango {COFRES_PREMIO_CADENA} al lograr una cadena de {PREMIO_CADENA_COMPLETA_CANTIDAD} días, y un Cofre Rango {COFRES_PREMIO_ACUMULADO_RANGO} cada vez que acumulas {COFRES_PREMIO_ACUMULADO_DIAS} premios totales.<br />
		<br />
		Los cofres tienen en su interior {COFRES_CANTIDAD_ITEMS} items, pero algunos miembros de <a href="/reglas-y-guias-f4/x-beneficios-de-patreon-t1310">Patreon</a> reciben items extra según su Tier. ¡Aporta tu grano de arena al foro para aprovechar este beneficio!
	</div>
	<!-- BEGIN cofres -->
	<hr />
	<div class="cofre-help-container">
		<div class="cofre-help-content">
			<div class="cofre-help-imagen">
				<img src="{cofres.URL_IMAGEN}"/>
			</div>
			<div class="cofre-rango-title">
				Cofre Rango {cofres.RANGO}
			</div>
			<div class="cofre-loot">
				<!-- BEGIN cofres.premios -->
				<div class="cofre-container">
					<div class="cofre-imagen-container" style="box-shadow: 0 0 4px 4px #{cofres.premios.COLOR}">
						<img src="{cofres.premios.URL_IMAGEN}" border="0" />
					</div>
					<div class="cofre-content">
						<div class="cofre-title">
							{cofres.premios.NOMBRE}
						</div>
						<div class="cofre-info">
							<tipo {cofres.premios.TAG}>{cofres.premios.TIPO}</tipo>
						</div>
					</div>
				</div>
				<!-- END cofres.premios -->
			</div>
		</div>
		<br style="clear: both" />
	</div>
	<!-- END cofres -->
	<br style="clear: both" />
</div>

<!-- INCLUDE overall_footer.html -->
